@font-face{font-family:'proxima-nova-semi';src:url("https://assets.tradesy.com/css/fonts/proxima-nova/semi/webfont.eot");src:url("https://assets.tradesy.com/css/fonts/proxima-nova/semi/webfont.eot?#iefix") format("embedded-opentype"),url("https://assets.tradesy.com/css/fonts/proxima-nova/semi/webfont.woff2") format("woff2"),url("https://assets.tradesy.com/css/fonts/proxima-nova/semi/webfont.woff") format("woff"),url("https://assets.tradesy.com/css/fonts/proxima-nova/semi/webfont.ttf") format("truetype"),url("https://assets.tradesy.com/css/fonts/proxima-nova/semi/webfont.svg#proxima-nova-semi") format("svg");font-weight:normal;font-style:normal}@font-face{font-family:'proxima-nova-regular';src:url("https://assets.tradesy.com/css/fonts/proxima-nova/regular/webfont.eot");src:url("https://assets.tradesy.com/css/fonts/proxima-nova/regular/webfont.eot?#iefix") format("embedded-opentype"),url("https://assets.tradesy.com/css/fonts/proxima-nova/regular/webfont.woff2") format("woff2"),url("https://assets.tradesy.com/css/fonts/proxima-nova/regular/webfont.woff") format("woff"),url("https://assets.tradesy.com/css/fonts/proxima-nova/regular/webfont.ttf") format("truetype"),url("https://assets.tradesy.com/css/fonts/proxima-nova/regular/webfont.svg#proxima-nova-regular") format("svg");font-weight:normal;font-style:normal}
@font-face{font-family:'calluna-bold';src:url('https://assets.tradesy.com/css/fonts/calluna/bold/webfont.eot');src:url('https://assets.tradesy.com/css/fonts/calluna/bold/webfont.eot?#iefix') format('embedded-opentype'),url('https://assets.tradesy.com/css/fonts/calluna/bold/webfont.woff2') format('woff2'),url('https://assets.tradesy.com/css/fonts/calluna/bold/webfont.woff') format('woff'),url('https://assets.tradesy.com/css/fonts/calluna/bold/webfont.ttf') format('truetype'),url('https://assets.tradesy.com/css/fonts/calluna/bold/webfont.svg#calluna-bold') format('svg');font-weight:normal;font-style:normal}@font-face{font-family:'calluna-regular';src:url('https://assets.tradesy.com/css/fonts/calluna/regular/webfont.eot');src:url('https://assets.tradesy.com/css/fonts/calluna/regular/webfont.eot?#iefix') format('embedded-opentype'),url('https://assets.tradesy.com/css/fonts/calluna/regular/webfont.woff2') format('woff2'),url('https://assets.tradesy.com/css/fonts/calluna/regular/webfont.woff') format('woff'),url('https://assets.tradesy.com/css/fonts/calluna/regular/webfont.ttf') format('truetype'),url('https://assets.tradesy.com/css/fonts/calluna/regular/webfont.svg#calluna-regular') format('svg');font-weight:normal;font-style:normal}
/*! normalize.css v2.1.3 | MIT License | git.io/normalize */article,aside,details,figcaption,figure,footer,header,hgroup,main,.desk-nav,section,summary{display:block}audio,canvas,video{display:inline-block}audio:not([controls]){display:none;height:0}[hidden],template{display:none}html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}a{background:transparent}a:focus{outline:thin dotted}a:active,a:hover{outline:0}h1{font-size:2em;margin:.67em 0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:bold}dfn{font-style:italic}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}mark{background:#ff0;color:#000}code,kbd,pre,samp{font-family:monospace,serif;font-size:1em}pre{white-space:pre-wrap}q{quotes:"\201C" "\201D" "\2018" "\2019"}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-0.5em}sub{bottom:-0.25em}img{border:0}svg:not(:root){overflow:hidden}figure{margin:0}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0}button,input{line-height:normal}button,select{text-transform:none}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0}input[type="search"]{-webkit-appearance:textfield;}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}textarea{overflow:auto;vertical-align:top}table{border-collapse:collapse;border-spacing:0}.cf:before,.cf:after{content:" ";display:table}.cf:after{clear:both}.cf{*zoom:1}*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;-webkit-tap-highlight-color:transparent}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
.cf:after, .clr {
    clear: both;
}

.hide {
	display: none !important;
}

html, body {
	background: white;
	color: #949d99;
	font: normal 100%/1.5 'proxima-nova-regular', sans-serif;
	height: auto;
	min-height: 100%;
	width: 100%;
}
body {
	padding-bottom: 4rem;
}
h1, h2, h3, h4 {
	color: #040407;
	line-height: 1;
	margin: 0 0 .5rem;
}
strong, h1, h2, h3, h4 {
	/*font-family: 'proxima-nova-semi', sans-serif;*/
	font-weight: normal;
}
.width {
	max-width: 1000px;
	margin: auto;
	padding: 1em;
}
a {
	color: #ee7873;
	cursor: pointer;
}
hr {
	background: none;
	border: 0;
	/*height: 3px;*/
	margin: 7rem 0;
}
.less {
	margin-top: -1rem;
}
.min {
	margin: 3rem 0;
}
.uber-min {
	margin: .5rem 0;
}
.text-right {
	text-align: right;
}
h4 {
	margin-bottom: 1.5rem;
}
.left {
	float: left;
}
.right {
	float: right;
}
/*.pad-t {
	padding-top: 2rem !important;
}
.pad-b {
	padding-bottom: 2rem !important;
}*/
.mar-t {
	margin-top: 1rem;
}
.mar-b-min {
	margin-bottom: .25rem;
}

.btn {
	border: 0;
	background: #ee7873;
	color: white;
	display: inline-block;
	font-size: 12px;
	letter-spacing: 2px;
	line-height: 1;
	padding: .5rem 1rem;
	text-decoration: none;
	text-transform: uppercase;
}
.btn + .btn {
	margin-left: .75rem;
}
.admin .btn {
	background: #111;
	/*border-radius: 3px;*/
	/*box-shadow: 0 0 0 2px rgba(255,255,255,0.5);*/
	/*font-size: .85rem;
	letter-spacing: normal;
	padding: .7rem .85rem;
	text-transform: none;*/
}
.line {
	background: none;
	box-shadow: 0 0 0 1px currentColor inset;
	cursor: pointer;
}
.line.d {
	color: #111;
}
.toggle {
	box-shadow: 0 0 0 1px currentColor;
	border-radius: 3px;
	background: none;
	color: #999;
	text-transform: none;
	letter-spacing: normal;
}
.admin {
	background: #efefef;
}

header {
	background: #040407;
	padding: .5em;
	position: relative;
}
.mar-b {
	margin-bottom: 2rem;
}
header img {
	display: block;
	margin: auto;
	max-width: 150px;
}

.seller-nav {
	background: #2a2a2a;
	/*margin: auto;
	max-width: 1498px;*/
	text-align: center;
}
.seller-nav.fixed {
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 100;
}
.seller-nav a {
	display: inline-block;
	color: #888;
	font-size: .85rem;
	letter-spacing: 1px;
	padding: 1rem;
	text-decoration: none;
	text-transform: uppercase;
}

.seller-nav a:hover, .seller-nav .active a {
	color : white;
}
.seller-nav a:active {
	/*background: #040407;*/
	color: white;
}
.seller-nav .active a {
	color: white;
	cursor: default;
}
.seller-nav .active a:active {
	/*background: #111;*/
	color: white;
}




/***** rack header ****/
.racks h1, .rack h2 {
	letter-spacing: 2.5px;
	margin-bottom: 2rem;
	/*text-align: center;*/
	text-transform: uppercase;
}
.rack h2 {
	font-size: 1.1rem;
	font-family: 'proxima-nova-semi';
	letter-spacing: 2px;
}
.sub h2 {
	clear: both;
	font-size: 1.25rem;
	/*padding-top: 1.5rem;*/
	/*letter-spacing: normal;*/
	margin-bottom: .75rem;
	/*margin: 1rem 0;*/
	/*text-align: center;*/
	/*text-transform: none;*/
}
.racks h1 {
	text-align: center;
}
.racks h1:after {
	background: #111;
	content: "";
	display: block;
	height: 2px;
	margin: 2rem auto;
	max-width: 3rem;
	width: 50%;
}
.rack .left {
	float: left;
}
.rack h2 a {
	border-bottom: 1px solid currentColor;
	color: #ee7873;
	display: inline-block;
	float: right;
	font-family: 'proxima-nova-semi', sans-serif;
	font-size: .75rem;
	letter-spacing: 1px;
	padding-top: .5rem;
	text-transform: uppercase;
	text-decoration: none;
}
.rack h2[data-num]:after {
	content: '('attr(data-num)')';
	letter-spacing: normal;
	opacity: .5;
	text-transform: none;
}
/*.sub h2:after {
	display: block;
	padding-top: .25rem;
}*/
.rack h2 button {
	float: right;
	background: none;
	border: 1px solid #ddd;
	border-radius: 2px;
	display: inline-block;
	font-size: 1rem;
	line-height: 1;
	padding: .5rem;
}
.rack h2 button:active {
	background: #efefef;
}



/***** product ****/
.sub .product {
	/*margin-bottom: 1.5rem;*/
	margin: 1rem 0;
}
.product {
	background: white;
	border: 1px solid white;
	display: inline-block;
	width: 50%;
	float: left;
	position: relative;
	text-align: center;
}
.product:hover, .s {
	border-color: #ddd;
}
.s {
	/*border-collapse: collapse;*/
	border: 0;
	/*box-shadow: 0 0 0 1px #ddd;*/
}
.s:hover {
	box-shadow: 0 0 0 1px #888;
	position: relative;
	z-index: 10;
}
.s + .s + .s {
	margin-top: 1rem;
}
.showing, .showing:hover {
	border-color: #888;
}
.product a:active img {
	opacity: .65;
}
.product .cover {
	background: rgba(0,0,0,0.75);
	color: white;
	height: 100%;
	padding-top: 200px;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1000;
}
.product * {
	position: relative;
	z-index: 1;
}
.product h3, .product p {
	margin: 0;
}
.product h3 {
	margin: auto;
	max-width: 250px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 100%;
}
.product h4 {
	margin: .5rem 0 0;
}
.product h4 span, .product h3 span {
	color: #ccc;
	margin-left: .25rem;
	position: relative;
}
.product h4 .size {
	color: #888;
	font-family: 'proxima-nova-regular', sans-serif;
	padding-left: .5rem;
}
.product h4 span:before, .product h3 span:before {
	background: #999;
	content: "";
	display: block;
	height: 1px;
	line-height: 0;
	margin: 0 -7%;
	position: absolute;
	top: 49%;
	right: 0;
	width: 100%;
	z-index: 2;
}
.product figure, figure div {
	display: table;
	height: auto;
	max-height: 200px;
	width: auto;
}
figure div {
	display: table-cell;
	vertical-align: bottom;
}
.product figure {
	margin: 0 auto 1rem;
}
.product img {
	display: block;
	margin: 0 auto;
	max-height: 200px;
	max-width: 200px;
}
.product a {
	clear: right;
	display: block;
	padding: 1rem;
	text-decoration: none;
}
.showing a {
	opacity: .65;
}
.subs .product {
	margin: 1rem 0;
}
.product a h3 {
	border-bottom: 1px solid white;
	color: #111;
	display: inline-block;
	font-size : 1rem;
}
.no-b .product a h3 {
	border: 0;
}
.product a h4 {
	color: #111;
}
.product sup {
	position: relative;
	left: -.1rem;
	top: -.175rem;
}
.on-sale a h4 {
	color: #ee7873;
	/*font-family: 'proxima-nova-semi', sans-serif;*/
}
.product .n {
	color: #111;
}
.product .n:before, .product .want:before {
	content: "";
	background: url(../images/heart.png) no-repeat 0 -19px;
	background-size: 20px;
	display: block;
	height: 20px;
	opacity: .5;
	margin: auto auto .25rem;
	width: 20px;
}
.product .want:before {
	display: inline-block;
	margin-bottom: 0;
}
.product .want:after {
	content: attr(data-want);
	font-size: .75rem;
	margin-left: .15rem;
	position: relative;
	top: -.3rem;
	text-align: left;
	width: 1rem;
}
.product .n:after {
	/*content: attr(data-want);*/
	color: #888;
	content: "wants";
	display: block;
	font-size: .75rem;
	text-align: center;
	/*padding-left: 1.275rem;*/
	/* font-family: 'proxima-nova-semi', sans-serif; */
	/*margin-left: .15rem;
	position: relative;
	top: -.15rem;
	text-align: left;
	width: 1rem;*/
}
.product .vw:before {
	background: url(../images/view.png) no-repeat 0 -19px;
	background-size: 20px;
}
.product .vw:after {
	content: "views";
	/*padding-left: .9rem;*/
}
.product .shr:before {
	background: url(../images/share.png) no-repeat 0 -19px;
	background-size: 20px;
}
.product .shr:after {
	content: "shares";
	/*padding-left: 2.5rem;*/
}
.product .want.n:hover {
	color: #ee7873;
}
.product .n:hover:before, .product .want:hover:before {
	background-position: 0 0;
	opacity: 1;
}
.want:active {
	opacity: .5;
}



/***** tags ****/
.tag {
	background: none;
	border: 0;
	border-radius: 2px;
	box-shadow: 0 0 0 1px #ddd inset;
	cursor: pointer;
	display: inline-block;
	line-height: 1;
	outline: none;
	padding: .5rem .75rem;
}
.sale {
	background: #ee7873;
	border-radius: 2px;
	box-shadow: none;
	color: white;
	padding: .25rem .35rem;
	position: absolute;
	top: 1rem;
	left: 1rem;
}
.featured {
	background: white;
	box-shadow: none;
	color: inherit;
	cursor: default;
	padding: .25rem .35rem;
	position: absolute;
	top: 1rem;
	left: 1rem;
}
.sale + .featured {
	top: 2.75rem;
	left: .75rem;
}
.featured:before {
	content: "\2605  ";
}
.showing .sale {
	display: none;
}
.brand-name {
	box-shadow: none;
	color: #111;
	display: block;
	/*font-family: 'proxima-nova-semi', sans-serif;
	letter-spacing: 1.5px;*/
	margin: 1.5rem 0 .5rem;
	padding: 0;
	/*text-transform: uppercase;*/
}
.product .tag {
	font-size: .85rem;
}
.product .brand-name {
	font-size: 1rem;
}
.analytics .tag {
	box-shadow: none;
	cursor: default;
	display: block;
	padding: 0;
}
.want {
	box-shadow: none;
	color: #888;
	cursor: pointer;
	padding: 0;
	position: absolute;
	right: 1rem;
	top: 1rem;
	z-index: 2;
}



/***** microanalytics ****/
.analytics {
	/*background: white;*/
	/*display: none;*/
	border-top: 1px solid #ddd;
	margin: 0 .75rem;
	padding: .75rem 0;
	/*position: absolute;*/
	/*top: 2.3rem;
	left: 0;
	width: 100%;
	z-index: 11;*/
	/*text-align: right;*/
}
.analytic-details {
	/*display: none;*/
	opacity: 0;
	border-radius: 3px;
	background: #2a2a2a;
	position: absolute;
	left: 0;
	top: 100%;
	padding: .75rem;
	line-height: 1;
	font-size: .85rem;
	width: 100%;
	margin: 5px 0 0;
	/*text-align: left;*/
	transition: all .25s ease-in-out;
}
.analytic-details:before {
	border-bottom: 10px solid #2a2a2a;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	content: "";
	display: block;
	height: 0;
	width: 0;
	position: absolute;
	top: -10px;
	right: 50%;
	margin-right: -5px;
}
.product:hover .analytic-details {
	/*display: block;*/
	opacity: 1;
}
.analytic-details strong {
	color: white;
}
.ctls {
	border: 0;
	box-shadow: none;
	/*display: none;*/
	float: right;
	margin: 1rem 1rem 0 0;
	padding: .325rem;
	position: relative;
	z-index: 12;
}
.ctls:after {
	background: url(https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-chevron-down-256.png) no-repeat center center;
	background-size: 15px;
	content: "";
	display: inline-block;
	height: 15px;
	/*padding-left: .15rem;*/
	position: relative;
	line-height: 0;
	opacity: .5;
	top: 0;
	width: 20px;
}
.ctls:active, .showing .ctls {
	background: #efefef;
}
/*.product:hover .ctls {
	padding: .325rem;
}*/
/*.product:hover .ctls:after {
	display: none;
}*/
.showing .ctls:after {
	content: "\2715";
	display: inline-block;
	padding-left: .5rem;
	position: relative;
	/*right: 1rem;*/
	top: 1px;
}
/*.showing .analytics {
	display: block;
}*/
.product-actions {
	/*border-top: 1px solid #efefef;*/
	/*border-bottom: 1px solid #ddd;*/
	/*margin-top: .5rem;*/
	visibility: hidden;
	background: white;
	border: 1px solid #ddd;
	border-radius: 2px;
	padding: 0;
	position: absolute;
	top: 30px;
	right: -2px;
	width: auto;
	text-align: left;
	/*padding: .25rem 0 .75rem;*/
}
.product.show .product-actions {
	-webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -0-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
	visibility: visible;
}
.product .product-actions a {
	padding: .35rem .5rem;
}
.product-actions a {
	color: #888;
	cursor: pointer;
	display: block;
	font-size: .85rem;
	opacity: 1;
	text-decoration: none;
}
.product-actions a:hover, .product-actions a:focus {
	background: #f7f7f7;
	color: #111;
}
.product-actions a:active {
	background: #f7f7f7;
}

.product-actions a + a {
	border-top: 1px solid #ddd;
}
.analytics .tag/*, .product-actions a*/ {
	display: inline-block;
}
.analytics .tag + .tag/*, .product-actions a + a*/ {
	margin-left: 2rem;
}



/***** empty set ****/
.empty-set {
	color: #111;
	font-size: 1.5rem;
	line-height: 1.2;
	margin: auto;
	max-width: 40rem;
	padding: 2rem 0 1rem;
	text-align: center;
}
.note .empty-set {
	padding-top: 0;
}
.note h2 {
	margin-bottom: .5rem;
}
.ex.empty-set {
	border: 1px solid #ddd;
}
.empty-set small {
	color: #888;
	display: block;
	font-size: .85rem;
	padding-top: .25rem;
}
.product.ex {
	height: 150px;
	margin-right: 1.5rem;
	overflow: hidden;
}
.ex .ctls {
	z-index: 1001;
}
.mask {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	z-index: 1000;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,white));
}
.rack.ex {
	background: #fef8e7;
	padding: 1.5rem;
}
.rack.center h2 {
	/*letter-spacing: normal;*/
	text-align: center;
	/*text-transform: none;*/
}
.note img {
	display: block;
	margin: 2rem auto;
	max-width: 100px;
}



/***** brands ****/
.brand.show {
	display: block !important;
}
.brand a {
	border: 1px solid #111;
	color: black;
	display: block;
	font-family: 'proxima-nova-regular', sans-serif;
	padding: .75rem;
	line-height: 1;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
}
.brand.cls a {
	background: white;
	border: 0 !important;
	color: #111;
	padding: 1.25rem 0;
	/*text-align: right;*/
}
.brand.cls a:hover {
	box-shadow: none;
}
.brand.empty a {
	color: #ee7873;
}
.brand.empty a:after {
	display: none;
}
.brand + .brand a {
	/*border-top: 0;*/
	margin-top: 1px;
}
.brand a:after {
	content: attr(data-num);
	/*content: ' x'attr(data-num);*/
	display: inline-block;
	font-family: 'proxima-nova-regular', sans-serif;
	opacity: .5;
	padding-left: .25rem;
}
.brand.cls a:after {
	content: "\2715";
	display: inline-block;
	padding-left: .5rem;
}
.brand a:hover {
	background: #2a2a2a;
	/*box-shadow: 0 0 0 2px white, 0 0 0 3px #111;*/
}
.brand a:active {
	/*background: #111;
	color: white;*/
	opacity: .65;
}
.brand.empty a:active {
	color: #ee7873;
}
.empty, .brand.empty a {
	background: #f3f5f9;
	/*border: 1px solid white;*/
	padding: 1.25rem 0;
}
.brand.empty {
	background: none;
	border: 0;
	/*margin-bottom: 1rem;*/
}
.empty:hover, .empty:hover a {
	background: none;
	border-color: white;
}
.empty:active {
	opacity: .5;
}
.product.empty:hover , .brand.empty:hover a {
	box-shadow: 0 0 0 1px #ddd inset;
	position: relative;
	z-index: 2;
}
.product.empty {
	border: 0;
	display: table;
	height: 444px;
	position: relative;
	top: -1px;
}
.product.empty a {
	color: #666;
	display: table-cell;
	font-size: 1.25rem;
	height: 400px;
	padding: 0 1rem;
	vertical-align: middle;
}
/*.empty a {
	display: block;
	height: 356px;
}*/
.empty em {
	font-style: normal;
}



/***** new closet ****/
.closet-header {
	/*margin: auto;
	max-width: 1500px*/
	/*background: #111 url(https://s3.amazonaws.com/f.cl.ly/items/2j293a2t0t0Z271C2d28/default-back-green.png) repeat center center;*/
	/*background: #111 url(https://assets.bezar.com/store/lookbook_images/attachments/000/000/084/full/1.jpg) no-repeat;*/
	background: #111 url(https://s3.amazonaws.com/f.cl.ly/items/0v28362V3C0p0V0J222p/new-photo.jpg) no-repeat center center;
	background-size: cover;
	/*background: #111 url(https://s3.amazonaws.com/f.cl.ly/items/24132I0x3z073m1o1Q20/default-back-crop-b.png);*/
	/*background-size: 100px;*/
	margin: auto;
	max-width: 1500px;
	position: relative;
	border-bottom: 1px solid #ddd;
}
.closet-header.default {
	background: #ddd;
}
.c-width {
	margin: auto;
	max-width: 1100px;
	padding: 1rem;
}
.m-width {
	margin: auto;
	max-width: 500px;
	padding: 1rem;
}
.default {
	background: #111 url(https://s3.amazonaws.com/f.cl.ly/items/2j293a2t0t0Z271C2d28/default-back-green.png) repeat center center;
}
.img-cover {
	margin: auto;
	max-width: 1500px;
	position: absolute;
	/*background: rgba(97,30,27,0.35);*/
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(97,30,27,0.25)), color-stop(100%,rgba(54,14,12,0.5)));
	height: 400px;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;

	/*-webkit-filter: blur(50px);*/
}
.default .img-cover {
	display: none;
}
.closet-main {
	/*background: url(https://s3.amazonaws.com/f.cl.ly/items/2j293a2t0t0Z271C2d28/default-back-green.png) repeat center center;*/
	height: 275px;
	position: relative;
	z-index: 2;
}
.default .closet-main {
	height: 175px;
}
.profile-pic {
	/*padding: .5rem;*/
	position: absolute;
	bottom: -4rem;
	left: 0;
}
.admin .profile-pic {
	/*background: rgba(0,0,0,.25);*/
	border-radius: 3px;
}
.profile-pic img {
	border-radius: 100%;
	/*box-shadow: 0 0 0 8px white;*/
	display: block;
	max-width: 125px;
}
.profile-details {
	position: absolute;
	bottom: 0;
	left: 145px;
}
.profile-details h1, .profile-details h2 {
	color: white;
}
.default .profile-details h1, .default .profile-details h2 {
	color: #111;
}
.profile-details h2 {
	font-size: 1rem;
	padding-left: 2px;
}
.profile-details span {
	display: inline-block;
	font-size: .75rem;
	margin-left: .75rem;
	position: relative;
}
.profile-details a {
	color: white;
}
.profile-details [loc] {
	padding-left: 15px;
}
.profile-details [loc]:before {
	background: url(../images/location-alt-128.png) no-repeat center center;
	background-size: contain;
	content: "";
	display: inline-block;
	height: 10px;
	position: absolute;
	left: 0;
	top: 1px;
	opacity: .75;
	width: 10px;
}
.profile-actions {
	position: absolute;
	right: 0;
	bottom: .5rem;
}
.profile-social {
	position: absolute;
	top: 1rem;
	right: 0;
}
.profile-social:before {
	color: white;
	content: "Share this closet: ";
	display: inline-block;
	padding-right: .75rem;
	position: relative;
	top: -.7rem;
}
.profile-social a {
	display: inline-block;
}
.profile-social a + a {
	margin-left: 1rem;
}
.profile-social a:before {
	/*background: rgba(255,255,255,0.25);*/
	background: transparent url(../images/twitter.png) no-repeat center center;
	background-size: 18px;
	box-shadow: 0 0 0 1px white;
	border-radius: 100%;
	color: white;
	content: "";
	display: inline-block;
	height: 1.75rem;
	padding-top: .25rem;
	text-align: center;
	width: 2rem;
}
.profile-social a:hover:before {
	/*box-shadow: 0 0 0 2px white;*/
}
.profile-social a:active {
	opacity: .75;
}

.closet-sub {
	background: white;
	/*border-bottom: 1px solid #ddd;*/
	height: 100px;
	position: relative;
	z-index: 1;
}
.closet-sub div {
	position: relative;
}
.closet-sub p {
	/*font-size: .85rem;*/
	font-family: 'calluna-regular',serif;
	color: #111;
	float: left;
	padding-left: 9rem;
	/*position: absolute;*/
	max-width: 32rem;
	/*left: 170px;
	top: .75rem;*/
	position: relative;
	top: -.25rem;
}
.closet-sub p a {
	color: #999;
}
.closet-sub nav {
	/*position: absolute;
	right: 0;
	top: 1.75rem;*/
	float: right;
	padding-top: .85rem;
}
.closet-sub nav a {
	color: #ddd;
	display: inline-block;
	font-size: 1.75rem;
	line-height: 1;
	padding: 0 1.5rem 0 0;
	text-decoration: none;
}
.closet-sub nav a:hover, .closet-sub .active {
	color: #111;
}
.closet-sub nav a:active {
	opacity: .65;
}
.closet-sub nav a + a {
	padding: 0 1.5rem;
}
.closet-sub nav a:last-child {
	padding-right: 0;
}
.closet-sub nav small {
	display: block;
	font-size: .8rem;
}



.chg {
	background: #111;
	color: white;
	cursor: pointer;
	border-radius: 3px;
	box-shadow: 0 0 0 2px rgba(255,255,255,0.25);
	display: inline-block;
	font-size: .85rem;
	padding: .35rem .65rem;
	position: absolute;
	z-index: 2;
}
.chg:active {
	background: #040407;
}
.chg img {
	display: inline-block;
	margin: 0;
	vertical-align: middle;
}
.chg:active img {
	opacity: .5;
}
.pf {
	top: auto;
	bottom: -80px;
	left: 43px;
	z-index: 3;
	padding: .35rem .5rem;
}
.pf.ri {
	float: right;
	position: relative;
	top: .9rem;
	left: auto;
	right: 1rem;
}


form, fieldset {
	border: 0;
	margin: 0;
	padding: 0;
	position: relative;
}
.modal-wrap {
	background: rgba(0,0,0,0.5);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 101;
	display: table;
	height: 100%;
	width: 100%;
}
.modal-wrap > div {
	display: table-cell;
	height: 100%;
	width: 100%;
	padding: 1.5rem;
	vertical-align: middle;
}
.modal-wrap form {
	background: white;
	/*border: 1px solid #ddd;*/
	/*border-radius: 3px;*/
	/*box-shadow: 0 0 0 2px rgba(0,0,0,0.1);*/
	margin: auto;
	max-width: 400px;
	padding: 2rem;
}
.modal-wrap fieldset {
	float: none;
}
.modal-wrap h3 {
	margin-bottom: 1.5rem;
}
.modal-wrap .chg {
	box-shadow: none;
	display: inline-block;
}
.modal-wrap .chg:active {
	background: #ccc;
	color: #999;
}
.hero-pic {
	  background: url(https://s3.amazonaws.com/f.cl.ly/items/2j293a2t0t0Z271C2d28/default-back-green.png) repeat center center;
	border-radius: 3px;
	height: 60px;
}
.profile-form .r:after {
	content: " *";
	color: red;
} 
.profile-form .btn {
	background: #ee7873;
	border: 0;
	border-radius: 3px;
	color: white;
	display: inline-block;
	margin-top: 2rem;
	padding: .5rem 1rem;
}
.profile-form .hhh {
	background: #ddd;
	color: #333;
	margin-left: .5rem;
}
.profile-form hr {
	background: #ddd;
	height: 2px;
	margin: 2rem 0;
}
.profile-form h4 {
	font-size: 1.15rem;
	letter-spacing: 2.5px;
	text-transform: uppercase;
}
.file {
	position: absolute;
	left: -99999px;
}




/**** has drops ****/
.has-drop {
	color: #111;
	padding: 0;
	position: relative;
	/*top: .25rem;*/
	z-index: 111;
}
.has-drop + .has-drop {
	margin-right: 1rem;
}
.has-drop nav {
	background: white;
	border-radius: 2px;
	border: 1px solid #ddd;
	display: none;
	position: absolute;
	top: 100%;
	margin-top: 10%;
	right: 0;
	width: 100%;
	min-width: 150px;
	z-index: 10;
}
.has-drop.showing nav {
	display: block;
	/*box-shadow: 0 0 0 2px white;*/
}
.has-drop a {
	color: #111;
	display: block;
	line-height: 1;
	padding: .45rem .5rem;
	text-decoration: none;
}
.has-drop nav a:hover {
	background: #efefef;
}
.has-drop nav span {
	display: block;
}
.has-drop nav span + span {
	border-top: 1px solid #ddd;
}
.has-drop > span {
	display: block;
	padding: .5rem 2.5rem .5rem .75rem;
	position: relative;
}
.has-drop > span:after {
	/*content: "\25BC";
	cursor: pointer;
	font-size: .75rem;
	position: absolute;
	right: .75rem;
	top: .75rem;*/
	background: url(https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-chevron-down-256.png) no-repeat center center;
	background-size: 18px;
	content: "";
	display: inline-block;
	height: 15px;
	/* padding-left: .15rem; */
	position: absolute;
	line-height: 0;
	opacity: .5;
	top: 10px;
	right: .5rem;
	width: 20px;
}
.has-drop.showing a {
	opacity: 1;
}
.has-drop.showing > span:after {
	/*content: "\25B2";*/
	top: 8px;
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
}
.has-drop.showing > span {
	background: #111;
	border-radius: 2px;
	color: white;
	/*padding-right: .75rem;*/
}
/*.has-drop.showing > span:before {
	content: "Hide ";
}*/
.has-drop.showing > span:after {
	/*display: none;*/
	background-color: white;
}

.ckb:active {
	background: #efefef;
}
.ckb.a {
	background: #111;
	/*box-shadow: 0 0 0 1px #111;*/
	border: 0;
	box-shadow: none;
	color: white;
}
.ckb.a:active {
	color: rgba(255,255,255,0.75);
}



/**** show search ****/
.search {
	margin-left: 1rem;
	/*padding-right: 1.75rem;*/
	padding: .5rem .85rem;
	position: relative;
	display: none;
}
.search:after {
	background: url(../images/search.png) no-repeat center center;
	background-size: 12px;
	border-radius: 100%;
	content: "";
	display: inline-block;
	height: 18px;
	position: absolute;
	/* top: -10px; */
	padding-left: 0;
	opacity: 1;
	top: .45rem;
	right: .4rem;
	width: 18px;
}
/*.a.search {
	padding-right: .75rem;
}*/
/*.a.search:after {
	display: none;
}*/



/**** search form ****/
.closet-search-wrap {
	background: rgba(0,0,0,0.0125);
	border-bottom: 1px solid #ddd;
	/*border-top: 0;*/
	display: none;
	margin: auto auto .75rem;
	max-width: 1500px;
	padding: .75rem 1rem 1rem;
	text-align: center;
}
.closet-search {
	/*min-width: 20rem;*/
	/*max-width: 30rem;*/
	/*margin-bottom: 1rem;*/
	width: 100%;
	display: inline-block;
	max-width: 30rem;
}
.closet-search label {
	display: block;
	position: relative;
	text-align: left;
}
.closet-search span {
	/*display: inline-block;
	float: left;
	padding: .425rem .75rem .5rem 0;*/
	display: block;
	padding-bottom: .5rem;
}
/*.closet-search input:focus {
	outline: 1px dotted currentColor;
}*/
.si {
	border: 1px solid #ddd;
	-webkit-appearance: none !important;
	border-radius: 3px 0 0 3px;
	box-shadow: 0 2px 0 #efefef inset;
	float: left;
	width: 75%;
	position: relative;
	/*width: auto;*/
	outline: none;
	padding: .5rem;
	/*width: 100%;*/
}
.si:focus {
	border-color: #111;
	box-shadow: none;
	z-index: 10;
}
.sb {
	/*background: white url(../images/search.png) no-repeat center center;*/
	/*background-size: contain;*/
	background: #efefef;
	border: 1px solid #ddd;
	/*border-left: 0;*/
	border-radius: 0 3px 3px 0;
	color: #666;
	display: inline-block;
	float: left;
	/*font-family: 'proxima-nova-semi', sans-serif;*/
	/*font-size: .85rem;*/
	line-height: 1;
	margin-left: -1px;
	width: 25%;
	outline: none;
	/*left: .5rem;*/
	/*margin-left: -.5rem;*/
	padding: .625rem;
	position: relative;
	/*height: 20px;*/
	/*width: 20px;*/
	/*right: .5rem;*/
	/*text-indent: -9999px;*/
	/*top: .5rem;*/
	/*text-transform: uppercase;*/
}
.sb:hover {
	background: #333;
	border-color: #333;
	color: white;
}
.sb:active {
	background: #111;
	border-color: #111;
	color: rgba(255,255,255,0.75);
}
.sb:focus {
	border-color: #111;
	z-index: 10;
}

.inline {
	float: right;
	/*margin-right: 1rem;*/
	display: inline-block;
	padding-right: 1rem;
	position: relative;
	/*width: 100%;
	margin-top: 1rem;*/
}
.inline span {
	/*display: none;*/
	position: absolute;
	left: -3.65rem;
	top: .25rem;
}
.inline input[type=search] {
	display: inline-block;
	width: 100%;
	/*max-width: 15rem;*/
	padding: .325rem;
	border-radius: 2px;
	border: 1px solid #ddd;
	/*margin-right: 1rem;*/
	outline: none;
	-webkit-appearance: none !important;
}
.inline input[type=search]:focus {
	border-color: #111;
}
.inline input[type=submit] {
	border: 0;
	background: url(../images/search.png) no-repeat center center;
	background-size: 12px;
	text-indent: -9999px;
	padding: 0;
	width: 12px;
	position: absolute;
	right: 1.5rem;
	top: .375rem;
	outline: none;
}
.inline input[type=submit]:focus {
	outline: 1px dotted #111;
}
.inline input[type=submit]:active {
	opacity: .75;
}

/**** about ****/
.about {
	border-top: 2px solid #ddd;
	margin-top: 2rem;
	padding-top: 3rem;
}
.about h3 {
	margin: 0 0 .5rem;
}
.about p {
	margin: 0 0 .5rem;	
}
.about p + h3, .about h3 + h3 {
	margin-top: 1.5rem;
}






/**** filter toggle ****/
.filters {
	padding-right: 1.85rem;
	position: relative;
}
.filters:after {
	/*background: url(https://cdn2.iconfinder.com/data/icons/flat-ui-icons-24-px/24/plus-24-256.png) no-repeat center center;
	background-size: 12px;
	border-radius: 100%;
	content: "";
	display: inline-block;
	height: 18px;
	position: absolute;
	padding-left: 0;
	opacity: 1;
	top: .45rem;
	right: .4rem;
	width: 18px;*/
	/*content: "\002B";
	font-size: 1.5rem;
	padding-left: .5rem;
	position: absolute;
	top: 5px;*/
	background: url(https://cdn4.iconfinder.com/data/icons/pictype-free-vector-icons/16/add-256.png) no-repeat center center;
	background-size: 11px;
	content: "";
	display: inline-block;
	height: 15px;
	position: absolute;
	line-height: 0;
	opacity: .5;
	top: 9px;
	right: .5rem;
	width: 20px;
}
.a.filters {
	/*padding-right: .75rem;*/
	/*content: "\2715";
	position: relative;
	top: 1px;*/
}
.a.filters:after {
	/*display: none;*/
	background-color: white;
	background-image: url(https://cdn0.iconfinder.com/data/icons/glyphpack/50/minus-rounded-256.png);
}

/**** show more ****/
.more-actions {
	clear: both;
}
.more-actions button {
	/*display: none;*/
	float: left;
	margin: 0;
}
.more-actions div {
	float: right;
}
.show-more {
	float: right;
	position: relative;
}
.show-more:after {
	content: "...";
	font-size: 1.5rem;
	line-height: 0;
	position: relative;
	top: -.15rem;
}

/**** filter list ****/
.filter-list {
	/*background: ;*/
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #ddd;
	clear: both;	
	margin: 2rem -1rem 0;
	padding: 1rem;
	position: relative;
}
.filter-set + .filter-set, .filter-set + .btn {
	margin-top: 1rem;
}
.filter-set .tag {
	border: 1px solid #ddd;
	border-radius: 20px;
	box-shadow: none;
	margin-bottom: .35rem;
	position: relative;
}
.filter-set [data-num]:after {
	content: attr(data-num);
	color: #888;
	display: inline-block;
	font-size: .8rem;
	padding-left: 5px;
	position: relative;
	top: 0;
}
.filter-set .tag.show {
	display: inline-block !important;
}
.filter-set .more {
	/*background: #efefef;*/
	border-radius: 0;
	border: 0;
	color: #111;
	display: inline-block;
	position: relative;
	padding-left: 0;
	margin-top: .5rem;
	text-decoration: underline;
	/*border-top: 1px solid currentColor;*/
}
/*.filter-set .more:before {
	content: "Show";
}*/
.filter-set .more:after {
	/*content: "View all"*/
	/*content: "\2026";*/
	/*font-size: 1.5rem;
	line-height: 0;
	position: relative;
	top: -.2rem;*/
	background: url(https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-chevron-down-256.png) no-repeat center center;
	background-size: 18px;
	content: "";
	display: none;
	height: 15px;
	/*padding-left: .15rem;*/
	position: relative;
	line-height: 0;
	/*opacity: .25;*/
	top: 4px;
	width: 20px;
}
.filter-set .all:before {
	content: "Show less";
	font-size: 1rem;
	line-height: inherit;
	position: relative;
	top: 0;
}
.filter-set .all:after {
	transform: rotate(180deg);
	top: 1px;
}
.filter-set .spn {
	border: 0;
	color: #111;
	display: block;
	letter-spacing: 1.5px;
	padding: 0 0 .25rem;
	text-transform: uppercase;
}
/*.spn:before {
	content: "Filter by ";
}*/
.spn:after {
	content: ":";
}
.filter-set .tag:hover, .filter-set .tag:focus {
	border-color: #2a2a2a;
}
.filter-set .tag:active {
	background: #2a2a2a;
	border-color: #2a2a2a;
	color: rgba(255,255,255,0.75);
}
.filter-set .spn:active {
	background: white;
	color: #111;
}
.filter-set .more:active {
	background: none;
	color: #111;
	opacity: .25;
}
.filter-set .more:active:after {
	opacity: .5;
}
.filter-set .atv {
	background: #111;
	border-color: #111;
	color: white;
	padding-right: 30px;
	z-index: 10;
}
.filter-set [disabled], .filter-set [disabled]:hover, .filter-set [disabled]:active {
	background: white;
	border-color: white;
	color: #ccc;
}
.filter-set [disabled]:after {
	display: none;
}
.filter-list .cls {
	/*background: rgba(0,0,0,0.0125);*/
	/*background: white;
	border-top: 1px solid #ddd;
	color: #111;
	cursor: pointer;
	display: block;*/
	display: inline-block;
	padding: .25rem;
	margin-left: 1rem;
	cursor: pointer;
	/*padding: .5rem;
	position: fixed;
	bottom: 0;
	right: 0;
	width: 100%;
	text-align: center;
	z-index: 101;*/
}
.filter-list .cls:before {
	content: "Hide filters ";
	/*color: #111;*/
	/*font-size: .8rem;*/
	position: relative;
	/*top: -2px;*/
}
/*.filter-list .cls:after {
	color: #888;
	content: " \2715";
}*/
.filter-list .cls:active {
	background: none;
	opacity: .5;
}
.filter-set .atv:after, .filter-set .atv:focus:after {
	background: #fdebcb url(../images/chk-b.png) no-repeat center center;
	background-size: 10px;
	border-radius: 100%;
	content: "";
	display: inline-block;
	height: 18px;
	position: absolute;
	/*top: -10px;*/
	/*top: .425rem;
	right: 50%;
	margin-right: -20%;*/
	padding-left: 0;
	opacity: 1;
	top: .45rem;
	right: .4rem;
	width: 18px;
}
.filter-set .color:after, .filter-set .color:focus:after {
	display: none;
}
/*.filter-set .atv:hover:after {
	background: transparent url(../images/cls-w.png) no-repeat center center;
	background-size: 14px;
}*/
.filter-list .btn {
	border-radius: 3px;
	font-size: inherit;
	letter-spacing: normal;
	text-transform: none;
}
.filter-list .btn:active {
	background: #B8504B;
	color: rgba(255,255,255,0.75);
}
.filter-set .color {
	border-color: white;
	border-radius: 100%;
	height: 2rem;
	width: 2rem;
}
.filter-set .color {
	margin-right: .25rem;
}
.filter-set .color:hover, .filter-set .color:focus {
	border-color: white;
}
.filter-set .brown, .filter-set .brown:active {
	background: saddlebrown;
	color: saddlebrown;
}
.filter-set .pink, .filter-set .pink:active {
	background: orchid;
	color: orchid;
}
.filter-set .orange, .filter-set .orange:active {
	background: orange;
	color: orange;
}
.filter-set .color:active {
	opacity: .75;
}
.filter-set .color.atv {
	box-shadow: 0 0 0 1px white, 0 0 0 2px currentColor;
	padding-left: 0;
}
.filter-set .color.atv:hover:after {
	display: none;
}


/**** loading ****/
.products {
	position: relative;
}
.loading {
	background: rgba(255,255,255,0.75);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100;
	text-align: center;
	padding-top: 3rem;
}
.loading span:before {
	content: "Loading...";
	color: #111;
	font-size: 1.5rem;
}





/**** paginatin ****/
.pagination {
	padding: 0 2rem;
	position: relative;
	text-align: center;
}
.pagination:before {
	background: #efefef;
	content: "";
	height: 1px;
	left: 0;
	position: absolute;
	top: 50%;
	width: 100%;
	z-index: 1;
}
.pagination span, .pagination a {
	background: white;
	display: inline-block;
	line-height: 1;
	padding: .5rem;
	position: relative;
	text-decoration: none;
	z-index: 2;
}
.pagination a {
	border: 1px solid #ddd;
	border-radius: 3px;
	color: #888;
	text-align: center;
	min-width: 2rem;
}
.pagination a + a {
	margin-left: .25rem;
}
.pagination a:hover, .pagination a:focus {
	border-color: currentColor;
}
.pagination a:active {
	background: #efefef;
}




/**** breadcrumbs ****/
.breadcrumbs {
	font-size: .85rem;
	padding-bottom: 1rem;
}
.breadcrumbs span {
	display: inline-block;
}
.breadcrumbs span:before {
	content: "/";
	padding: 0 .5rem;
	opacity: .5;
}




/***** tablet & up ****/
.t-up, .m-only, .chg {
	display: none;
}



@media screen and (min-width: 900px) {

.sub .product {
	margin: 1.5rem 0;
}
#apply-filters {
	display: none;
}
/*.filters {
	float: right !important;
	margin-right: 1rem;
}*/
.filter-list {
	padding-right: 4rem;
}
.filter-list .cls {
	margin: 1rem 0 0;
	padding-left: 0;
	/*display: none;*/
}
.filter-set .color.atv:hover:after {
	display: inline-block;
	right: .35rem;
	top: .4rem;
}
.inline input[type=search] {
	min-width: 20rem;
}
/*.filter-list .cls:after {
	font-size: 2rem;
}
.filter-list .cls {
	border: 0;
	color: #888;
	display: none;
	position: absolute;
	padding: 0;
	bottom: .85rem;
	right: .85rem;
	top: auto;
	width: auto;
	text-align: left;
}
.filter-list .cls:before {
	content: "Hide filters ";
	display: inline-block;
	top: -7px;
}
.filter-list .cls:after {
	content: " \2715";
}*/
.filter-set .atv:hover:after {
	background: transparent url(../images/cls-w.png) no-repeat center center;
	background-size: 14px;
	right: .45rem;
}
.filter-set .spn {
	display: inline-block;
	float: left;
	padding-right: .75rem;
	padding-top: .65rem;
	width: 12%;
}
.filter-set + .filter-set {
	clear: both;
	padding-top: 1rem;
}
.pills {
	display: block;
	float: right;
	width: 88%;
}
.brand a:after {
	display: inline-block;
	padding-left: .35rem;
}

}

@media screen and (min-width: 40rem) {

.width {
	padding-left: 2rem;
	padding-right: 2rem;
}
.seller-nav a {
	display: inline-block;
	float: none;
	padding: 1rem;
	width: auto;
}
.seller-nav em {
	display: inline;
}
.product a {
	padding: 1rem 2rem;
}
/*.product-actions a {
	padding: 0;
}*/
.brand.empty {
	margin-bottom: 0;
}
.brands {
	margin-left: -.5rem;
	margin-right: -.5rem;
}
.brand {
	display: inline-block;
	float: left;
	padding: 0 .5rem;
	width: 25%;
}
.brand a:after {
	display: block;
	padding-left: 0;
}
.brand.show {
	display: inline-block !important;
	margin-top: 1rem;
}
.brand + .brand + .brand a {
	border-top: 1px solid currentColor;
	margin-top: 0;
}
.brand + .brand + .brand + .brand + .brand {
	display: none;
}
/*.ctls {
	float: none;
	margin-right: 0;
}*/

.chg {
	display: inline-block;
}

.closet-search-wrap {
	margin-bottom: 1rem;
	padding: 1rem 1rem .7rem;
}
.closet-search span {
	display: inline-block;
	float: left;
	padding: .425rem .75rem 0 0;
}
.si {
	min-width: 20rem;
	width: auto;
}
.sb {
	min-width: 0;
	width: auto;
}

}

@media screen and (min-width: 45rem) {

/*body {
	background: red;
}*/

.width {
	max-width: 1100px;
	padding: 1rem;
}
.product {
	width: 33%;
}
.s + .s + .s {
	margin-top: 0;
}
.index .product + .product + .product + .product {
	display: none;
}
/*.analytics {
	clear: both;
	position: static;
	padding-top: .75rem;
	padding-bottom: .75rem;
	display: block;
	border-bottom: 1px solid #ddd;
}
.showing .analytics {
	border: 0;
	padding-bottom: 0;
}
.product-actions {
	display: none;
	margin-top: 0;
	padding-top: .25rem;
}
.ctls {
	float: left;
	margin: 0;
	left: 1rem;
	top: 1rem;
}*/
/*.showing .product-actions {
	display: block;
}*/
.brand, .brand + .brand + .brand + .brand + .brand {
	display: inline-block;
	float: left;
	padding: 0 .5rem;
	width: 20%;
}
.brand.show {
	display: inline-block !important;
	margin-top: 1rem;
}

/*.ctls {
	display: none;
}
.analytics {
	display: block;
	position: static;
}*/

.brand a:after {
	display: inline-block;
	padding-left: .25rem;
}


}

@media screen and (min-width: 62.5rem) {

/*.width {
	max-width: 1200px;
}*/
.product {
	width: 25%;
}
.index .product + .product + .product + .product {
	display: inline-block;
}

}



/**** closet head mobile ****/
@media screen and (min-width: 1502px){

.closet-header, .closet-search-wrap {
	border: 1px solid #ddd;
	border-top: 0;
}

}

@media screen and (min-width: 901px) and (max-width: 1100px){

.profile-actions {
	right: auto;
	bottom: auto;
	top: .5rem;
	left: 0;
}
.admin .profile-actions {
	right: 0;
	bottom: 0;
	top: auto;
	left: auto;
}

}

@media screen and (min-width: 900px) and (min-height: 900px){

.closet-main {
	height: 350px;
}

}

@media screen and (min-width: 601px) and (max-width: 900px){

.profile-pic {
	bottom: 2rem;
}
.closet-header .pf {
	bottom: 20px;
	left: 30px;
}
.profile-pic img {
	max-width: 100px;
}
.profile-details {
	bottom: 3rem;
	left: 120px;
}
.profile-actions {
	right: auto;
	left: 122px;
}
.closet-sub p {
	max-width: 25rem;
	padding-left: 0;
	top: -.375rem;
}
/*.closet-sub nav a {
	padding-right: 1rem;
}
.closet-sub nav a + a {
	padding: 0 1rem;
}*/

}

@media screen and (min-width: 601px) and (max-width: 800px){

.closet-sub nav a {
	padding-right: .75rem;
}
.closet-sub nav a + a {
	padding: 0 .5rem;
}

}

@media screen and (min-width: 601px) and (max-width: 750px){

.closet-sub p {
	max-width: 18rem;
	/*top: -1rem;*/
}
.profile-details {
	font-size: .85rem;
}

}

/**** closet head mobile ****/
@media screen and (max-width: 400px){

#admin-toggle, .profile-social, .closet-sub {
	display: none;
}

.table {
	display: table;
	height: 250px;
	width: 100%;
	padding: 0;
}
.table > div {
	display: table-cell;
	height: 250px;
	vertical-align: middle;
}

.profile-pic {
	float: left;
	position: static;
}
.profile-pic img {
	margin: 0 0 0 1rem;
	max-width: 50px;
}
.profile-details {
	font-size: .625rem;
	clear: both;
	margin: 1rem 1rem 0 1rem;
	padding-top: 1rem;
	position: static;
}
.profile-details span + span {
	display: none;
}
.profile-actions {
	clear: both;
	margin: 0 0 0 1rem;
	padding-top: 1rem;
	position: static;
}
.img-cover {
	height: 100%;
}
.m-only {
	display: block;
}
.tabs {
	/*position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;*/
	border-bottom: 1px solid #ddd;
	text-align: center;
	/*border-top: 1px solid #ddd;*/
	/*background: white;
	z-index: 1100;*/
}
.tabs a {
	display: inline-block;
	float: left;
	font-size: .85rem;
	padding: .5rem;
	text-decoration: none;
	width: 25%;
}
.tabs a:active, .tabs .active {
	background: #efefef;
}
.tabs .active {
	color: #888;
}
.tabs a + a {
	border-left: 1px solid #ddd;
}
.tabs a:last-child {
	/*width: 34%;*/
}
hr.min {
	margin: 1rem 0;
}

}
@media screen and (min-width: 401px) and (max-width: 600px){

#admin-toggle, .profile-social, .closet-sub {
	display: none;
}

.table {
	display: table;
	height: 350px;
	width: 100%;
	padding: 0;
}
.table > div {
	display: table-cell;
	height: 350px;
	vertical-align: middle;
}

.profile-pic {
	/*margin: 0 0 1.5rem;*/
	float: none;
	position: static;
}
.profile-pic img {
	margin: auto;
	max-width: 85px;
}
.profile-details {
	font-size: .85rem;
	float: none;
	/*max-width: 250px;*/
	margin-top: 1rem;
	/*padding-top: 1;*/
	position: static;
	text-align: center;
}
.profile-details h1 {
	padding: 0 1rem;
}
.profile-details span + span {
	display: none;
}
.profile-actions {
	clear: none;
	margin: 2rem 0 0 0;
	padding-top: 0;
	position: static;
	text-align: center;
}
.img-cover {
	height: 100%;
}
/*.closet-sub {
	height: auto;
	text-align: center;
}
.closet-sub p, .closet-sub nav {
	float: none;
	margin: 0;
	padding: 0;
	max-width: none;
}
.closet-sub nav {
	margin-top: 1.5rem;
}*/
.m-only {
	display: block;
}
.tabs {
	text-align: center;
	border-bottom: 1px solid #ddd;
}
.tabs a {
	display: inline-block;
	float: left;
	padding: .5rem;
	text-decoration: none;
	width: 25%;
}
.tabs a:active {
	background: #efefef;
}
.tabs a + a {
	border-left: 1px solid #ddd;
}
/*.tabs a:last-child {
	width: 34%;
}*/

}


@media screen and (max-width: 700px){

/*.seller-nav .active {
	display: none;
}*/
/*.seller-nav a {
	display: block;
	letter-spacing: normal;
	padding: .5rem;
	text-transform: none;
}*/
.seller-nav span + span a {
	border-top: 1px solid #111;
}

}


@media screen and (max-width: 500px){

.analytics .tag/*, .product-actions a*/ {
	display: block;
	text-align: left;
}
/*.product-actions {
	display: block;
}*/
.product .n:before {
	display: none;
}
.product .n:after {
	display: inline-block;
	/*font-size: 1rem;*/
	padding-left: .25rem;
}
.has-drop nav {
	/*top: 0;
	margin-top: 0;*/
}
.search {
	display: inline-block;
}
.inline {
	width: 100%;
	margin-top: 1rem;
	padding-right: 0;
	display: none;
}
.inline span {
	position: static;
}
.inline input[type=submit] {
	right: .5rem;
	top: 1.875rem;
}
.analytics .tag/*, .product-actions a*/, .analytics .tag + .tag/*, .product-actions a + a*/ {
	margin-left: 0;
}
.analytics .tag + .tag {
	margin-top: .5rem;
}
.product.empty {
	height: 454px;
}
.product.empty a {
	height: 400px;
}

/*.analytics .tag, .product-actions a {
	display: block;
}
.analytics .tag + .tag, .product-actions a + a {
	margin-left: 0;
}*/

}