@font-face{font-family:'proxima-nova-semi';src:url("https://assets.tradesy.com/css/fonts/proxima-nova/semi/webfont.eot");src:url("https://assets.tradesy.com/css/fonts/proxima-nova/semi/webfont.eot?#iefix") format("embedded-opentype"),url("https://assets.tradesy.com/css/fonts/proxima-nova/semi/webfont.woff2") format("woff2"),url("https://assets.tradesy.com/css/fonts/proxima-nova/semi/webfont.woff") format("woff"),url("https://assets.tradesy.com/css/fonts/proxima-nova/semi/webfont.ttf") format("truetype"),url("https://assets.tradesy.com/css/fonts/proxima-nova/semi/webfont.svg#proxima-nova-semi") format("svg");font-weight:normal;font-style:normal}@font-face{font-family:'proxima-nova-regular';src:url("https://assets.tradesy.com/css/fonts/proxima-nova/regular/webfont.eot");src:url("https://assets.tradesy.com/css/fonts/proxima-nova/regular/webfont.eot?#iefix") format("embedded-opentype"),url("https://assets.tradesy.com/css/fonts/proxima-nova/regular/webfont.woff2") format("woff2"),url("https://assets.tradesy.com/css/fonts/proxima-nova/regular/webfont.woff") format("woff"),url("https://assets.tradesy.com/css/fonts/proxima-nova/regular/webfont.ttf") format("truetype"),url("https://assets.tradesy.com/css/fonts/proxima-nova/regular/webfont.svg#proxima-nova-regular") format("svg");font-weight:normal;font-style:normal}
@font-face{font-family:'calluna-bold';src:url('https://assets.tradesy.com/css/fonts/calluna/bold/webfont.eot');src:url('https://assets.tradesy.com/css/fonts/calluna/bold/webfont.eot?#iefix') format('embedded-opentype'),url('https://assets.tradesy.com/css/fonts/calluna/bold/webfont.woff2') format('woff2'),url('https://assets.tradesy.com/css/fonts/calluna/bold/webfont.woff') format('woff'),url('https://assets.tradesy.com/css/fonts/calluna/bold/webfont.ttf') format('truetype'),url('https://assets.tradesy.com/css/fonts/calluna/bold/webfont.svg#calluna-bold') format('svg');font-weight:normal;font-style:normal}@font-face{font-family:'calluna-regular';src:url('https://assets.tradesy.com/css/fonts/calluna/regular/webfont.eot');src:url('https://assets.tradesy.com/css/fonts/calluna/regular/webfont.eot?#iefix') format('embedded-opentype'),url('https://assets.tradesy.com/css/fonts/calluna/regular/webfont.woff2') format('woff2'),url('https://assets.tradesy.com/css/fonts/calluna/regular/webfont.woff') format('woff'),url('https://assets.tradesy.com/css/fonts/calluna/regular/webfont.ttf') format('truetype'),url('https://assets.tradesy.com/css/fonts/calluna/regular/webfont.svg#calluna-regular') format('svg');font-weight:normal;font-style:normal}
/*! normalize.css v2.1.3 | MIT License | git.io/normalize */article,aside,details,figcaption,figure,footer,header,hgroup,main,.desk-nav,section,summary{display:block}audio,canvas,video{display:inline-block}audio:not([controls]){display:none;height:0}[hidden],template{display:none}html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}a{background:transparent}a:focus{outline:thin dotted}a:active,a:hover{outline:0}h1{font-size:2em;margin:.67em 0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:bold}dfn{font-style:italic}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}mark{background:#ff0;color:#000}code,kbd,pre,samp{font-family:monospace,serif;font-size:1em}pre{white-space:pre-wrap}q{quotes:"\201C" "\201D" "\2018" "\2019"}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-0.5em}sub{bottom:-0.25em}img{border:0}svg:not(:root){overflow:hidden}figure{margin:0}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0}button,input{line-height:normal}button,select{text-transform:none}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0}input[type="search"]{-webkit-appearance:textfield;}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}textarea{overflow:auto;vertical-align:top}table{border-collapse:collapse;border-spacing:0}.cf:before,.cf:after{content:" ";display:table}.cf:after{clear:both}.cf{*zoom:1}*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;-webkit-tap-highlight-color:transparent}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
.cf:after, .clr {
    clear: both;
}

html, body {
	background: white;
	color: #949d99;
	font: normal 100%/1.5 'proxima-nova-regular', sans-serif;
	height: auto;
	min-height: 100%;
	width: 100%;
}
body {
	padding-bottom: 4rem;
}
h1, h2, h3, h4 {
	color: #040407;
	line-height: 1;
	margin: 0 0 .5rem;
}
strong, h1, h2, h3, h4 {
	/*font-family: 'proxima-nova-semi', sans-serif;*/
	font-weight: normal;
}
.width {
	max-width: 1000px;
	margin: auto;
	padding: 1em;
}
a {
	color: #ee7873;
}
hr {
	background: none;
	border: 0;
	/*height: 3px;*/
	margin: 7rem 0;
}
.less {
	margin-top: -1rem;
}
.min {
	margin: 3rem 0;
}
.text-right {
	text-align: right;
}
h4 {
	margin-bottom: 1.5rem;
}

header {
	background: #040407;
	padding: .5em;
	position: relative;
}
header img {
	display: block;
	margin: auto;
	max-width: 150px;
}

.seller-nav {
	background: #2a2a2a;
	text-align: center;
}
.seller-nav.fixed {
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 100;
}
.seller-nav a {
	display: inline-block;
	color: white;
	font-size: .85rem;
	letter-spacing: 1px;
	padding: 1rem;
	text-decoration: none;
	text-transform: uppercase;
}
.seller-nav a:hover, .seller-nav .active a {
	background: #111;
}
.seller-nav a:active {
	background: #040407;
	color: rgba(255,255,255,0.75);
}
.seller-nav .active a {
	color: rgba(255,255,255,0.5);
	cursor: default;
}
.seller-nav .active a:active {
	background: #111;
	color: rgba(255,255,255,0.5);
}

.closet-head {
	background: #ddd;
	/*background: url(../images/default-back.png) no-repeat center center;
	background-size: cover;*/
	height: 500px;
	margin-bottom: 2rem;
	position: relative;
}
.closet-head.mn {
	height: 300px;
}
.url {
	background: #fef8e7;
	padding: 1.25rem;
	text-align: center;
}
.url * {
	line-height: 1;
	margin: 0;
}
.url h2 {
	font-size: 1.25rem;
	padding-bottom: .25rem;
}
.url p {
	color: #888;
	padding-bottom: .5rem;
}
.url strong {
	color: #111;
	/*font-family: 'proxima-nova-semi', sans-serif;*/
	text-transform: uppercase;
}
.url code {
	background: #111;
	border: 0;
	border-radius: 3px;
	color: white;
	display: inline-block;
	font-size: .85rem;
	font-family: 'proxima-nova-regular', sans-serif;
	padding: .5rem;
	text-align: center;
	width: auto;
}
.url code + a {
	color: #ee7873;
	display: inline-block;
	font-size: .85rem;
	padding: .75rem;
}
.seller-edit {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	text-align: center;
}
.seller-edit span {
	display: inline-block;
}
.seller-edit a {
	background: #ee7873;
	color: white; 
	display: block;
	padding: .5rem 1.5rem;
	text-decoration: none;
}




.rack + .rack {
	margin-top: 3rem;
}
.rack h2 {
	letter-spacing: 2.5px;
	margin-bottom: 2rem;
	text-transform: uppercase;
}
.rack .left {
	float: left;
}
.rack h2 a {
	border-bottom: 1px solid currentColor;
	color: #ee7873;
	display: inline-block;
	float: right;
	font-family: 'proxima-nova-semi', sans-serif;
	font-size: .75rem;
	letter-spacing: 1px;
	padding-top: .5rem;
	text-transform: uppercase;
	text-decoration: none;
}
.rack h2:after {
	content: ' ('attr(data-num)')';
	opacity: .5;
}
.rack h2 button {
	float: right;
	background: none;
	border: 1px solid #ddd;
	border-radius: 2px;
	display: inline-block;
	font-size: 1rem;
	line-height: 1;
	padding: .5rem;
}
.rack h2 button:active {
	background: #efefef;
}
.product {
	/*box-shadow: 0 0 0 1px #efefef inset;*/
	background: white;
	/*border: 1px solid #efefef;*/
	border: 1px solid white;
	display: inline-block;
	width: 25%;
	float: left;
	/*padding: 1rem 2rem;*/
	position: relative;
	text-align: center;
}
.three {
	text-align: center;
}
.three .product {
	float: none;
	padding: 1rem 2rem;
	width: 33%;
}
.three figure {
	margin: auto;
}

/*** filter list ***/
.filter-list {
	/*background: #efefef;*/
	/*border-radius: 3px;*/
	/*box-shadow: 0 0 0 1px #ddd inset;*/
	border-bottom: 2px solid #ddd;
	display: none;
	/*height: 355px;*/
	padding: 0 0 2rem;
	position: relative;
	margin-bottom: 1rem;
	text-align: left;
}
.filter-list.view {
	/*display: table;*/
	display: block;
	/*margin-bottom: -3rem;*/
}
/*.filter-list div {
	display: table-cell;
	height: 318px;
	vertical-align: middle;
}*/
.product.filter-list:hover {
	box-shadow: none;
}
.filter-list h5 {
	font-size: 1.25rem;
	font-weight: normal;
	margin: 0 0 .75rem;
	letter-spacing: 1.5px;
	text-transform: uppercase;
}
.filter-list p {
	color: #111;
	margin: .25rem 0;
}
.filter-list .tag {
	border: 0;
	border-radius: 2px;
	box-shadow: none;
	margin: .15rem;
	padding: .5rem .75rem;
}
.sm .tag {
	/*border-radius: 0;*/
	/*font-size: .85rem;*/
	padding: .275rem .35rem .2rem;
}
.sm .atv:after {
	margin-right: 5px;
}
.lg + .lg {
	margin-top: .75rem;
}
.lg + .l {
	margin: .5rem 0 .25rem;
}
.lg + .b, .sm + .b {
	margin: .5rem 0;
}
.sm + .b {
	margin-bottom: 0;
}
.filter-list .tag:after {
	content: "/ " attr(data-num);
	display: inline-block;
	padding-left: .5rem;
	/*content: " " attr(data-num) " listing";*/
	opacity: .5;
}
.filter-list .atv:after {
	opacity: 1;
}
.filter-list .spn {
	background: none;
	color: #111;
	cursor: default;
	/*display: none;*/
	padding: .5rem .25rem .5rem 0;
	margin: .15rem 0;
	width: 5rem;
}
.filter-list .tag.spn:active, .filter-list .tag.spn:focus {
	background: white;
	box-shadow: none;
	color: #111;
}
.tag {
	background: none;
	border: 0;
	border-radius: 2px;
	box-shadow: 0 0 0 1px #ddd inset;
	cursor: pointer;
	display: inline-block;
	outline: none;
	padding: .5rem .75rem;
}
.ckb:active {
	background: #efefef;
}
div.tag {
	color: #111;
	line-height: normal;
}
.tag.right {
	float: right;
	margin-left: 1rem;
}
.filter-list .spn:after {
	content: ":";
	display: inline;
	padding: 0;
	opacity: 1;
}
.fleft {
	float: left;
}
.fleft + .fleft {
	padding-left: 4rem;
}
.filter-list .tag + .tag {
	margin-left: .25rem;
}
/*.filter-list div + div {
	margin-top: 1rem;
}*/
.product.filter-list a {
	padding: 0;
	position: relative;
}
.product.filter-list span + p {
	margin-top: 1rem;
}
.filter-list a {
	display: block;
}
.filter-list a:after {
	border: 1px solid #888;
	content: "";
	display: inline-block;
	height: 14px;
	/*margin-left: 10px;*/
	position: absolute;
	right: 0;
	top: .35rem;
	width: 14px;
}
.rd a:after {
	border-radius: 100%;
}
.no a:after {
	display: none;
}
.filter-list .shown a:after {
	background: white url(../images/cls.png) no-repeat center center;
	background-size: 10px;
}

.product + .product {
	border-left: 0;
}
.rack.sub {
	padding-top: .5rem;
}
/*.sub .product:nth-child(n+5) {
	margin-top: 1rem;
}*/
.product * {
	position: relative;
	z-index: 1;
}
.product h3, .product p {
	margin: 0;
}
.product h3, .elp h4 {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 100%;
}
.product h4 {
	margin-top: .5rem;
}
.product h4 span, .product h3 span {
	color: #ccc;
	/*font-size: .75rem;*/
	margin-left: .25rem;
	position: relative;
	/*top: -.075rem;*/
}
.product.v9:hover h3 {
	border: 0;
}
/*.product h4 span:before {
	content: "was ";
}*/
.product h4 span:before, .product h3 span:before {
	background: #999;
	content: "";
	display: block;
	height: 1px;
	line-height: 0;
	margin: 0 -7%;
	position: absolute;
	top: 49%;
	right: 0;
	width: 100%;
	z-index: 2;
}
.product figure, figure div {
	display: table;
	height: 200px;
	max-height: 200px;
	width: 200px;
}
figure div {
	display: table-cell;
	vertical-align: bottom;
}
.product figure {
	margin-bottom: 1rem;
}
.product img {
	display: block;
	margin: 0 auto;
	max-height: 200px;
	max-width: 200px;
}
.product a {
	display: block;
	padding: 1rem 2rem;
	text-decoration: none;
}
.product a h3 {
	border-bottom: 1px solid white;
	color: #111;
	display: inline-block;
}
.no-b .product a h3 {
	border: 0;
}
.product a h4 {
	color: #888;
}
.product sup {
	position: relative;
	left: -.1rem;
	top: -.175rem;
}

.brand.pill {
	font-family: 'proxima-nova-semi', sans-serif;
	letter-spacing: 1.5px;
	margin: -1rem 0 .5rem;
	text-transform: uppercase;
	/*padding: .25rem .25rem .15rem !important;
	background: #ebebeb !important;*/
}

.product .tag {
	cursor: default;
	background: #111;
	border-radius: 2px;
	box-shadow: none;
	color: white;
	display: inline-block;
	font-size: .75rem;
	line-height: 1;
	position: absolute;
	top: .5rem;
	left: .5rem;
	/*padding: .5rem .5rem .35rem;*/
	padding: .5rem;
	width: auto;
	z-index: 2;
}
.product .brand {
	background: white;
	color: #111;
	/*top: 0;
	left: 0;*/
}
.product .want {
	cursor: pointer;
	display: none;
	left: auto;
	right: .5rem;
	z-index: 2;
}
.product .n {
	top: 1rem;
}
.product .wanted {
	background: none;
	color: #888;
	display: inline-block;
}
.product .wanted.n {
	color: #888;
	padding-top: 0;
}
.product .n:before {
	/*content: "\2661";
	font: bold 1.25rem/1 sans-serif;
	line-height: 0;*/
	content: "";
	background: url(../images/heart.png) no-repeat 0 -19px;
	background-size: 20px;
	display: inline-block;
	height: 20px;
	opacity: .5;
	position: relative;
	top: 3px;
	width: 20px;
}
.product .vw:before {
	background: url(../images/view.png) no-repeat 0 -19px;
	background-size: 20px;
	display: inline-block;
	height: 20px;
	opacity: .5;
	position: relative;
	top: 3px;
	width: 20px;
}
.product .shr:before {
	background: url(../images/share.png) no-repeat 0 -19px;
	background-size: 20px;
	display: inline-block;
	height: 20px;
	opacity: .5;
	position: relative;
	top: 2px;
	width: 20px;
}
.product .i-added:before {
	/*content: "\2665";
	font-size: 2rem;
	position: relative;
	top: .25rem;*/
	background-position: 0 0;
	opacity: 1;
}
.product .wanted.n:after {
	content: attr(data-want);
	display: inline-block;
	/*font-family: 'proxima-nova-semi', sans-serif;*/
	margin-left: .15rem;
	position: relative;
	top: -.15rem;
	text-align: left;
	width: 1rem;
}
.want:active {
	opacity: .5;
}
.product .savings {
	background: none;
	color: #7dccad;
	left: auto;
	right: .5rem;
}
.product .sold {
	background: #BAAEAD;
	color: white;
	left: auto;
	right: .5rem;
}
.product .cart {
	background: #ee7873;
	color: white;
	cursor: pointer;
	display: none;
	margin-left: 0 !important;
}
.product .cart:active {
	background: #C41008;	
}
.brand, .size {
	font-family: 'calluna-regular',serif;
}

.product:hover {
	border-color: white;
	/*border-radius: 2px;*/
	box-shadow: 0 0 0 1px #ddd;
	/*transform: scale(1.01);*/
	z-index: 3;
}
.product:hover h3 {
	border-bottom: 1px solid currentColor;
}
.product div > a:active {
	top: 1px;
}
.product a:active img {
	opacity: .75;
}
.product:hover .want, .has-sold:hover .brand, .product:hover .cart {
	display: inline-block;
}
.product:hover .brand, .product.v1:hover .brand, .product:hover .savings, .product:hover .wanted {
	display: none;
}
.product:hover .wanted.n {
	display: inline-block;
}
.product .wanted.n:hover {
	display: inline-block;
	color: #ee7873;
}
.product .n:hover:before {
	background-position: 0 0;
	opacity: 1;
}
/*.product .wanted.n:active {
	transform: scale(.975);
}*/
.has-sold:hover .brand {
	display: inline-block !important;
}

.product .sale.ss {
	/*transform: rotate(-45deg);*/
	position: absolute;
	top: 1rem;
	left: 1rem;
	margin: 0 !important;
}

/*** btn ***/
/*.btn {
	background: #ee7873;
	border-radius: 2px;
	color: white;
	display: none;
	padding: .75rem .75rem .6rem;
	position: absolute;
	top: 50%;
	width: 100%;
	z-index: 3;
}
.product:hover .btn {
	display: block;
}*/

.size em {
	color: #999;
	font-style: normal;
}

/*** v2 ***/
.v2 h4 {
	margin-bottom: .125rem;
}
.v2 .sale, .v2 .sold {
	padding: .25rem;
	position: relative;
	top: -.2rem;
	left: -.125rem;
}
.v2 .sale {
	/*background: #7dccad;*/
	background: #111;
	color: white;
}
.on-sale.product a h4 {
	color: #111;
	font-family: 'proxima-nova-semi', sans-serif;
}
.red .sale {
	background: #ee7873;
}
.on-sale.red a h4 {
	color: #ee7873;
}
.v2 .brand {
	padding: 0;
	position: static;
}
.v2 .savings {
	position: static;
}
.v2 .savings.pill {
	background: #7dccad;
	color: white;
	padding: .25rem;
	position: static;
}
.v2 .tag + .tag {
	margin-left: .5rem;
}
.v2:hover .brand, .v2:hover .savings {
	display: inline-block;
	opacity: 1;
}

/*** v3 ***/
.v3 .sold {
	/*padding: .5rem .5rem .35rem;*/
	padding: .5rem;
	position: absolute;
	top: .5rem;
	left: auto;
	right: .5rem;
}

/*** v4 ***/
.v4 h4 span {
	font-size: 1rem;
	margin-left: 1rem;
}
.v4 h4 span:before {
	display: none;
}

.v4:hover .savings {
	display: inline-block;
}

/*** v5 ***/
.v5 .savings, .v5 h4 span {
	margin-left: .25rem;
}
.v5 .savings {
	font-size: 1rem;
}
.v5 .savings:before {
	display: none;
}

/*** seller ***/
.s1 {
	border: 1px solid #efefef;
	padding-top: 3.5rem;
}
.analytics {
	position: absolute;
	top: 1rem;
	left: 0;
	text-align: center;
	width: 100%;
}
.analytics .tag {
	/*background: #fef8e7;*/
	background: none;
	color: #888;
	cursor: default;
	display: inline-block;
	padding: 0;
	position: static;
}
.analytics .tag + .tag {
	margin-left: 1rem;
}
.strength {
	cursor: pointer;
	margin-top: -.5rem;
	position: relative;
	z-index: 4;
}
.s2 .strength {
	margin-top: -.25rem;
}
.strength em, .s2 .strength-details {
	background: #888;
	color: white;
	display: none;
	font-size: .75rem;
	font-style: normal;
	margin: 1.5rem .5rem 0;
	padding: 1rem;
	position: absolute;
	top: 100%;
	left: 0;
}
.strong {
	color: #7dccad;
}
.strong em {
	background: #7dccad;
}
.s2 em.strong {
	background: #7dccad;
}
.weak {
	color: #ee7873;
}
.weak em {
	background: #ee7873;
}
.ok em {
	/*color: #8b6c2d;*/
}
.learn-more {
	background: #888;
	border-radius: 100%;
	display: inline-block;
	line-height: 1;
	padding: .15rem .4rem;
	position: relative;
	top: 1px;
}
.learn-more:before {
	color: white;
	content: "?";
}
.s1 hr {
	background: #efefef;
	height: 2px;
	margin: 1rem 0;
}

.s1:hover {
	box-shadow: 0 0 0 1px #ccc;
}
.s1:hover .strength em, .s2:hover .strength-details {
	display: block;
}

.empty {
	background: #f3f5f9;
}
.empty, .empty div, .empty a {
	height: 430px;
	padding: 0;
}
.empty div {
	display: table;
	width: 100%;
}
.empty div a {
	display: table-cell;
	vertical-align: middle;
}
.empty a {
	color: #35383C;
}
.empty em {
	/*border-bottom: 1px solid currentColor;*/
	font-style: normal;
}
.empty em:before {
	background: #35383C;
	color: white;
	border-radius: 100%;
	content: "\002B";
	display: block;
	font-size: 3rem;
	line-height: 1;
	margin: auto auto .5rem;
	padding: .125rem 0 0;
	width: 1em;
}
.empty:active em, .empty:active em:before {
	opacity: .5;
}

.s2 {
	padding-top: 1rem;
	padding-bottom: 1.25rem;
}
.s2.empty {
	height: 450px;
}
.s2 .analytics {
	position: static;
	margin-bottom: .75rem;
}
.s2 .analytics .tag {
	background: none;
	padding: 0;
}
.s2 .analytics .tag + .tag {
	margin-left: .5rem;
}
.s2 hr {
	margin: 1rem 0;
}
.s2 .strength-details {
	left: 0;
	top: 0;
	margin: .4rem .4rem 0;
}

/*** brands ***/
/*.brands {
	overflow: hidden;
	position: relative;
}
.brands .all {
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,#fff));
	position: absolute;
	right: 0;
	top: 0;
	display: none;
}
.brands-wrap {
	width: 150%;
}*/
.brands {
	margin: 0 -.5rem;
}
div.brand, .brnd {
	display: inline-block;
	float: left;
	padding: 0 .5rem;
	width: 20%;
}
/*.brand + .brand {
	padding-left: .5rem;
}*/
/*.brand div, .brand a {
	display: table;
	height: 100px;
	width: 100%;
}*/
div.brand a {
	background: #111;
	/*border: 2px solid #111;*/
	border-radius: 3px;
	color: white;
	display: block;
	font-family: 'proxima-nova-regular', sans-serif;
	font-size: 1.25rem;
	padding: 1.25rem 0;
	line-height: 1;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
}
div.brand a:after {
	color: rgba(255,255,255,0.5);
	content: ' ('attr(data-num)')';
	font-family: 'proxima-nova-regular', sans-serif;
}
.img {
	padding: 0 .5rem;
}
.brand.img a, .brnd a {
	/*background: url(http://cdn-6.famouslogos.us/images/fashion/gucci-logo.jpg) no-repeat center center;
	background-size: contain;*/
	border: 2px solid #111;
	background: white;
	/*max-height: 70px;*/
	padding: .75rem .5rem;
	/*text-indent: -2000%;*/
}
.no-b .img {
	width: auto
}
.no-b .img a {
	border: 0;
	padding: 1rem;
}
/*.img span, .img span span {
	background: white;
	display: table;
	height: 85px;
	padding: 0 1rem;
	width: 100%;
}
.img span span {
	display: table-cell;
	padding: 0;
	vertical-align: middle;
}*/
.img img, .brnd img {
	display: block;
	margin: auto;
	max-height: 50px;
	max-width: 100%;
}
.brand.img a:after {
	/*border-top: 1px solid #111;*/
	color: #999;
	content: attr(data-num)' items';
	display: none;
	font-size: .85rem;
	padding: .5rem 0 0;
}
div.brand a:hover {
	background: #ee7873;
}
.brand.louis-vouitton a:hover {
	background: #522F12;
}
.brand.prada a:hover {
	background: #0A2F4A;
}
.brand.tory-birch a:hover {
	background: #8C2201;
}
.brand.evolution a:hover {
	background: #009138;
}
div.brand a:active {
	background: #C41008;
}
.brand.img a:hover, .brnd a:hover {
	background: none;
	/*border-color: white;*/
	box-shadow: 0 0 0 1px white, 0 0 0 3px #ddd;
	/*transform: scale(1.075);*/
	/*opacity: .5;*/
}
.no-b .img a:hover {
	box-shadow: 0 0 0 2px #111;
}
.img a:active {
	/*background: none;*/
}
.img a:active img, .brnd a:active img {
	opacity: .75;
	transform: scale(0.975);
}

.brnd a {
	display: block;
}
.brnd small {
	display: block;
	padding-top: .5rem;
	text-align: center;
}

.brand.epty {
	float: right;
}
.brand.epty a {
	background: #f3f5f9;
	color: #35383C;
}
.brand.epty a:after {
	display: none;
}
.brand.epty a:hover {
	background: #f3f5f9;
	box-shadow: 0 0 0 1px #ccc;
}
.brand.epty a:active {
	opacity: .5;
}

/*** breadcrumbs ***/
.breadcrumbs {
	color: #888;
}
.breadcrumbs span:before {
	content: "/";
	display: inline-block;
	padding: 0 .375rem 0 .25rem;
}
/*** search form ***/
.meta {
	padding-bottom: 1rem;
}
form {
	top: -.3rem;
}
form, fieldset {
	border: 0;
	margin: 0;
	padding: 0;
	position: relative;
}
fieldset {
	float: right;
}
label span {
	display: none;
}
input[type=search] {
	border: 1px solid #ddd;
	border-radius: 2px;
	min-width: 20rem;
	outline: none;
	padding: .5rem;
}
input[type=search]:focus {
	border-color: #111;
	/*box-shadow: 0 0 0 1px white, 0 0 0 2px #ddd;*/
}
input[type=submit] {
	background: none;
	border: 0;
	outline: none;
	position: absolute;
	top: .5rem;
	right: .5rem;
}
input[type=submit]:focus {
	outline: 1px dotted #ee7873;
}
input[type=submit]:active {
	opacity: .5;
}

/*** filters ***/
.filters {
	float: left;
	padding-top: 4px;
}
.filters .tag {
	border-radius: 2px;
	cursor: pointer;
	display: inline-block;
	padding: .5rem .75rem;
}
.filters .tag + .tag {
	margin-left: .5rem;
}
.filters .applied + .add {
	margin-left: 1rem;
}
.filters button {
	border: 0;
}
.applied {
	background: #efefef;
}
.add {
	background: #ddd;
	/*color: white;*/
}
.add[disabled] {
	background: none !important;
	/*box-shadow: 0 0 0 1px #ddd inset;*/
	color: #888;
}
span.cls {
	cursor: pointer;
	position: absolute;
	top: 0;
	right: 0;
}
span.cls:before {
	color: #111;
	content: "Close";
	font-size: .75rem;
	opacity: .75;
	position: relative;
	top: -2px;
	left: 4px;
}
span.cls:active {
	opacity: .75;
}
.filters .tag:after, span.cls:after, .atv:after {
	background: url(../images/cls.png) no-repeat 0 0;
	background-size: 10px;
	content: "";
	display: inline-block;
	height: 10px;
	margin-left: 10px;
	opacity: .75;
	width: 10px;
}
.atv:after {
	/*background: url(../images/cls-w.png) no-repeat 0 0;*/
	/*background-size: 10px;*/
	background: #ee7873;
	border-radius: 100%;
	box-shadow: 0 0 0 2px #111, 0 0 0 3px white;
	opacity: 1;
	width: 2px;
}
.atv:hover:after {
	background: url(../images/cls-w.png) no-repeat 0 0;
	background-size: 10px;
	box-shadow: none;
}
.atv:focus:after {
	background: #ee7873;
	border-radius: 100%;
	box-shadow: 0 0 0 2px #111, 0 0 0 3px white;
}
.atv:active:after {
	opacity: .5;
}
/*[disabled]:before {
	margin: 0 5px 0 0;
}*/
.filter-list .atv {
	background: #111;
	color: white;
}
.filter-list .tag:active/*, .filter-list .tag:focus*/ {
	background: #ccc;
}
.filter-list .tag:focus {
	box-shadow: 0 0 0 2px white, 0 0 0 3px #ccc;
}
.filter-list .atv:active {
	background: #111;
	box-shadow: 0 0 0 2px white, 0 0 0 3px #888;
	color: rgba(255,255,255,0.5);
}
.filter-list .atv:focus {
	box-shadow: 0 0 0 2px white, 0 0 0 3px #888;
}
/*.filter-list .tag:focus {
	color: white;
}*/
.filter-list .atv:after {
	content: "";
}
.filters .add:after {
	background: url(../images/add.png) no-repeat 0 0;
	background-size: 10px;
	opacity: 1;
}
.tag.show:after {
	background: url(../images/menu.png) no-repeat 0 0;
	background-size: 15px;
	content: "";
	display: inline-block;
	position: relative;
	height: 10px;
	margin-left: 10px;
	top: -2px;
	width: 15px;
	opacity: 1;
}
/*.filters + .drops, .filters + .drops + .drops, .filters + .drops + .drops + .drops {
	margin-left: 1rem;
	top: -1rem;
}*/

/*** drop downs ***/
/*.filter-toggles {
	height: 3rem;
	margin: -1rem 0 2rem;
}*/
.filter-toggles {
	padding: 2rem 0;
}

.has-drop {
	/*padding-right: 2.5rem;*/
	padding: 0;
	position: relative;
}
/*.has-drop > span:active {
	background: #efefef;
}*/
.has-drop nav {
	background: white;
	border-radius: 2px;
	border: 1px solid #ddd;
	display: none;
	/*margin-top: 10px;*/
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10;
}
.has-drop.showing nav {
	display: block;
}
.has-drop a {
	/*background: white;*/
	color: #111;
	display: block;
	line-height: 1;
	padding: .5rem;
	text-decoration: none;
}
.has-drop nav a:hover {
	background: #efefef;
}
.has-drop nav span {
	display: block;
}
.has-drop nav span + span {
	border-top: 1px solid #ddd;
}
/*.has-drop > span {
	font-size: .75rem;
	opacity: .65;
	position: absolute;
	top: .75rem;
	right: .75rem;
	z-index: 3;
}*/
/*.has-drop em:active {
	opacity: .5;
}*/
.has-drop > span {
	display: block;
	padding: .5rem 2.5rem .5rem .75rem;
	position: relative;
}
.has-drop > span:after {
	content: "\25BC";
	cursor: pointer;
	font-size: .75rem;
	position: absolute;
	right: .75rem;
	top: .75rem;
}
.has-drop.showing > span:after {
	content: "\25B2";
	top: .8rem;
}

.drops {
	display: inline-block;
	/*min-width: 10rem;*/
	position: relative;
	/*top: 3px;*/
	z-index: 3;
}
.drops.right {
	float: right;
	/*right: 7.25rem;*/
}
.more-right {
	right: 11rem;
}
.drops + .drops {
	margin-left: .5rem;
}
/*.drops-wrap {
	position: absolute;
	z-index: 3;
}*/
.drops.show nav {
	background: white;
	border-radius: 2px;
	box-shadow: 0 0 0 1px #ddd inset;
	/*min-width: 10rem;*/
	position: absolute;
}
.drops em {
	position: absolute;
	top: .6rem;
	right: .75rem;
	z-index: 3;
}
.drops em:active {
	opacity: .5;
}
.drops em:after {
	content: "\25BC";
	cursor: pointer;
	font-style: normal;
}
.drops span, .drops.show span span {
	/*background: white;*/
	display: none;
}
.drops a, .drops span span {
	/*border-radius: 2px 2px 0 0;*/
	color: #111;
	cursor: pointer;
	display: block;
	padding: .425rem .5rem;
	text-decoration: none;
}
.drops span:first-child, .drops.show span {
	display: block;
}
.drops span:first-child {
	background: white;
	border-radius: 2px;
	box-shadow: 0 0 0 1px #ddd inset;
}

.drops:hover nav {
	border-color: #111;
	/*box-shadow: 0 0 0 2px rgba(0,0,0,0.125);*/
}
.drops.show span + span + span {
	border-top: 1px solid #ddd;
}
.drops.show em:after {
	content: "\25B2";
}
.drops a:hover {
	/*background: #efefef;*/
	color: #ee7873;
}


/**** seller ctrls ****/
.a2 {
	padding: 0 .35rem .5rem;
	top: .75rem;
	left: .25rem;
}
.a2 .tag {
	display: inline-block;
	float: left;
	padding: 0;
	position: static;
}
.a2 .tag + .tag {
	margin-left: 1.25rem;
}
.a2 .n {
	position: relative;
	top: 0;
}
.a2 button.tag {
	border: 0;
	background: #ee7873;
	color: white;
	cursor: pointer;
	float: right;
	outline: none;
	padding: .25rem;
	position: relative;
	top: 0.25rem;
	margin-right: 1.25rem;
	/*margin-left: 0 !important;*/
}
.product button.tag:active {
	background: #C41008;
}

@media screen and (min-width: 75rem){

.width {
	max-width: 1100px;
}

}

@media screen and (max-width: 60rem){

.width {
	max-width: 45rem;
}
.product {
	width: 33%;
}

}

@media screen and (max-width: 45rem){

.width {
	max-width: 35rem;
}
.product {
	width: 50%;
}

}

@media screen and (max-width: 30rem){

.width {
	max-width: auto;
}
.product {
	width: 100%;
}

}