@font-face{font-family:'proxima-nova-semi';src:url("https://assets.tradesy.com/css/fonts/proxima-nova/semi/webfont.eot");src:url("https://assets.tradesy.com/css/fonts/proxima-nova/semi/webfont.eot?#iefix") format("embedded-opentype"),url("https://assets.tradesy.com/css/fonts/proxima-nova/semi/webfont.woff2") format("woff2"),url("https://assets.tradesy.com/css/fonts/proxima-nova/semi/webfont.woff") format("woff"),url("https://assets.tradesy.com/css/fonts/proxima-nova/semi/webfont.ttf") format("truetype"),url("https://assets.tradesy.com/css/fonts/proxima-nova/semi/webfont.svg#proxima-nova-semi") format("svg");font-weight:normal;font-style:normal}@font-face{font-family:'proxima-nova-regular';src:url("https://assets.tradesy.com/css/fonts/proxima-nova/regular/webfont.eot");src:url("https://assets.tradesy.com/css/fonts/proxima-nova/regular/webfont.eot?#iefix") format("embedded-opentype"),url("/css/fonts/proxima-nova/regular/webfont.woff2") format("woff2"),url("https://assets.tradesy.com/css/fonts/proxima-nova/regular/webfont.woff") format("woff"),url("https://assets.tradesy.com/css/fonts/proxima-nova/regular/webfont.ttf") format("truetype"),url("https://assets.tradesy.com/css/fonts/proxima-nova/regular/webfont.svg#proxima-nova-regular") format("svg");font-weight:normal;font-style:normal}
/*! normalize.css v2.1.3 | MIT License | git.io/normalize */article,aside,details,figcaption,figure,footer,header,hgroup,main,.desk-nav,section,summary{display:block}audio,canvas,video{display:inline-block}audio:not([controls]){display:none;height:0}[hidden],template{display:none}html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}a{background:transparent}a:focus{outline:thin dotted}a:active,a:hover{outline:0}h1{font-size:2em;margin:.67em 0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:bold}dfn{font-style:italic}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}mark{background:#ff0;color:#000}code,kbd,pre,samp{font-family:monospace,serif;font-size:1em}pre{white-space:pre-wrap}q{quotes:"\201C" "\201D" "\2018" "\2019"}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-0.5em}sub{bottom:-0.25em}img{border:0}svg:not(:root){overflow:hidden}figure{margin:0}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0}button,input{line-height:normal}button,select{text-transform:none}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0}input[type="search"]{-webkit-appearance:textfield;}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}textarea{overflow:auto;vertical-align:top}table{border-collapse:collapse;border-spacing:0}.cf:before,.cf:after{content:" ";display:table}.cf:after{clear:both}.cf{*zoom:1}*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;-webkit-tap-highlight-color:transparent}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
.cf:after, .clr {
    clear: both;
}

html, body {
	background: white;
	color: #949d99;
	font: normal 100%/1.5 'proxima-nova-regular', sans-serif;
	height: auto;
	min-height: 200%;
	width: 100%;
}
strong, h1, h2, h3 {
	font-family: 'proxima-nova-semi', sans-serif;
	font-weight: normal;
}
a {
	color: #ee7873;
}
h1, h2, h3, h4 {
	color: #040407;
	font-weight: normal;
	line-height: 1.2;
	margin: 0 0 15px;
}
.btn {
	background: none;
	border-radius: 4px;
	box-shadow: 0 0 0 1px rgba(0,0,0,0.15) inset;
	color: inherit;
	cursor: pointer;
	display: inline-block;
	font-size: 1.25em;
	line-height: 1;
	outline: none;
	padding: .75em;
	position: relative;
	text-decoration: none;
}
.btn:after {
	background: rgba(0,0,0,0.05);
	border-radius: 2px;
	content: "";
	display: block;
	height: 3px;
	position: absolute;
	left: 0;
	top: 100%;
	width: 94%;
	margin: 0 3%;
}
.btn:active:after {
	display: none;
}
.main {
	background: #ee7873;
	color: white;
}
.main:active {
	background: #D14D47;
	box-shadow: 0 0 2px rgba(0,0,0,0.15) inset;
	color: rgba(255,255,255,0.75);
}
.btn.none {
	margin-left: .5em;
}
.btn.none:after {
	display: none;
}
.btn.none:active {
	background: #efefef;
	box-shadow: 0 0 2px rgba(0,0,0,0.15) inset;
}
.grey {
	background: #efefef;
}
.grey:active {
	background: #ccc;
}

header {
	background: #040407;
	border-bottom: 2px solid #efefef;
	padding: .5em;
	position: relative;
}
.logo {
	float: left;
	margin: 0;
	padding: .55em 0 0 .5em;
}
.logo a {
	background: url(https://assets.tradesy.com/css/images/tradesy2xwhite.png) no-repeat;
	background-size: contain;
	display: inline-block;
	height: 20px;
	text-indent: -9999px;
	width: 150px;
}
.search fieldset {
	border: 0;
	max-width: 40em;
	margin-right: 3em;
	padding: .5em .5em .5em 2em;
	position: relative;
	top: 1px;
}
.search input[type=search] {
	background: white;
	border: 0;
	-webkit-appearance: none;
	-moz-border-radius: 2px;
	border-radius: 2px;
	box-shadow: 0 2px 0 #ddd inset;
	padding: .5em;
	width: 100%;
}
.search .btn {
	background: none;
	border: 0;
	border-radius: 0;
	box-shadow: none;
	color: #999;
	font-size: 1rem;
	padding: .5em;
	position: absolute;
	right: .5em;
	top: .6em;
}
.search .btn:active {
	opacity: .5;
	outline: 1px dotted #ee7873;
}

.bag {
	background: url(../images/bag.png) no-repeat center center;
	background-size: 34px;
	height: 2em;
	position: absolute;
	right: 1em;
	top: 1.05em;
	width: 2em;
}
.bag-items {
	background: #ee7873;
	border-radius: 100%;
	color: white;
	display: inline-block;
	font-size: 13px;
	height: 20px;
	left: -4px;
	line-height: 1;
	padding-top: 4px;
	position: relative;
	text-align: center;
	top: -4px;
	width: 20px;
}

.user {
	position: absolute;
	right: 0;
	top: 0;
}
.user > a {
	display: inline-block;
	padding: 1.15em;
	text-decoration: none;
}
.user img {
	border-radius: 100%;
	margin-right: .5em;
	vertical-align: middle;
	width: 30px;
}

nav {
	background: white;
	clear: both;
	margin: .5em -.5em -.5em;
	padding: .5em .5em .35em;
	position: relative;
}
nav a {
	display: inline-block;
	font-size: .8em;
	padding: 0 .25em;
	text-decoration: none;
	text-transform: none;
}
.links-wrap {
	margin: auto;
	max-width: 1000px;
}
.links-wrap a {
	padding: 0 .75em;
}
.fr {
	float: right;
}
/*.links {
	width: 1000px;
}*/
.scroll {
	background: white;
	border-left: 1px solid #ddd;
	box-shadow: -1px 0 0 rgba(0,0,0,0.1), -1px 0 2px rgba(0,0,0,0.05);
	color: #ee7873;
	display: inline-block;
	font-size: .8em;
	height: 100%;
	padding: .85em .5em;
	position: absolute;
	right: 0;
	top: 0;
	text-align: center;
	width: auto;
}
.tabs {
	padding: 0;
}
.tabs span {
	display: inline-block;
	float: left;
	width: 25%;
}
.tabs a {
	padding: .35em;
	text-align: center;
	width: 100%;
}
.tabs span + span a {
	box-shadow: -1px 0 0 #ddd;
}
.tabs a:active {
	background: #efefef;
}
.tabs a:active img {
	opacity: .5;
}
.tabs img {
	border-radius: 100%;
	display: block;
	margin: .15em auto;
	width: 30px;
}

#main_reveal_background {
	background: rgba(0,0,0,0.5);
	display: block;
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1;
}
#main_reveal_background + div {
	display: table;
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 2;
}
[data-template] {
	display: table-cell;
	padding: 0 2rem;
	vertical-align: middle;
}
[data-template] > div {
	background: white;
	border-radius: 3px;
	/*box-shadow: 0 0 0 4px rgba(0,0,0,0.125);*/
	margin: auto;
	max-width: 500px;
	overflow: hidden;
	padding: 2rem;
	position: relative;
}
[data-template] > div:after {
	content: "";
	background: rgba(0,0,0,0.5);
	display: block;
	height: 3px;
	left: 0;
	margin: 0 3%;
	position: absolute;
	top: 100%;
	width: 94%;
}
[data-template] div > div {
	position: relative;
	z-index: 3;
}
[data-template] img {
	display: none;
	min-width: 800px;
	width: 100%;
	pointer-events: none;
	position: absolute;
	left: -1rem;
	top: -1px;
	z-index: 1;
}
[data-template] h4 {
	font-size: 24px;
	text-transform: uppercase;
}
[data-template] p {
	line-height: 1.3;
}
[data-template] form {
	background: #efefef;
	margin-bottom: 1rem;
	min-height: 200px;
}
/*.cls {
	cursor: pointer;
	height: 30px;
	position: absolute;
	right: 2px;
	text-align: center;
	top: 2px;
	width: 30px;
	z-index: 3;
}
.cls:before {
	content: "\2717";
	color: #111;
	font-size: 30px;
}*/

@media screen and (min-width: 750px){

[data-template] > div {
	max-width: 700px;
}
[data-template] div > div {
	float: right;
	width: 52.5%;
}
[data-template] img {
	display: block;
}

}

@media screen and (max-width: 749px){

.logo {
	padding: .15em 0 0 .15em;
}
.logo a {
	background-image: url(../images/gem-white.png);
	height: 40px;
	width: 40px;
}

#main_reveal_background + div {
	position: absolute;
}
[data-template], [data-template] > div {
	padding: 1rem;
}
[data-template] {
	vertical-align: top;
}

}

@media screen and (max-width: 25em){

[data-template] h4 {
	font-size: 20px;
	text-transform: none;
}

}