@font-face{font-family:'proxima-nova-semi';src:url("https://assets.tradesy.com/css/fonts/proxima-nova/semi/webfont.eot");src:url("https://assets.tradesy.com/css/fonts/proxima-nova/semi/webfont.eot?#iefix") format("embedded-opentype"),url("https://assets.tradesy.com/css/fonts/proxima-nova/semi/webfont.woff2") format("woff2"),url("https://assets.tradesy.com/css/fonts/proxima-nova/semi/webfont.woff") format("woff"),url("https://assets.tradesy.com/css/fonts/proxima-nova/semi/webfont.ttf") format("truetype"),url("https://assets.tradesy.com/css/fonts/proxima-nova/semi/webfont.svg#proxima-nova-semi") format("svg");font-weight:normal;font-style:normal}@font-face{font-family:'proxima-nova-regular';src:url("https://assets.tradesy.com/css/fonts/proxima-nova/regular/webfont.eot");src:url("https://assets.tradesy.com/css/fonts/proxima-nova/regular/webfont.eot?#iefix") format("embedded-opentype"),url("/css/fonts/proxima-nova/regular/webfont.woff2") format("woff2"),url("https://assets.tradesy.com/css/fonts/proxima-nova/regular/webfont.woff") format("woff"),url("https://assets.tradesy.com/css/fonts/proxima-nova/regular/webfont.ttf") format("truetype"),url("https://assets.tradesy.com/css/fonts/proxima-nova/regular/webfont.svg#proxima-nova-regular") format("svg");font-weight:normal;font-style:normal}
/*! normalize.css v2.1.3 | MIT License | git.io/normalize */article,aside,details,figcaption,figure,footer,header,hgroup,main,.desk-nav,section,summary{display:block}audio,canvas,video{display:inline-block}audio:not([controls]){display:none;height:0}[hidden],template{display:none}html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}a{background:transparent}a:focus{outline:thin dotted}a:active,a:hover{outline:0}h1{font-size:2em;margin:.67em 0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:bold}dfn{font-style:italic}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}mark{background:#ff0;color:#000}code,kbd,pre,samp{font-family:monospace,serif;font-size:1em}pre{white-space:pre-wrap}q{quotes:"\201C" "\201D" "\2018" "\2019"}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-0.5em}sub{bottom:-0.25em}img{border:0}svg:not(:root){overflow:hidden}figure{margin:0}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0}button,input{line-height:normal}button,select{text-transform:none}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0}input[type="search"]{-webkit-appearance:textfield;}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}textarea{overflow:auto;vertical-align:top}table{border-collapse:collapse;border-spacing:0}.cf:before,.cf:after{content:" ";display:table}.cf:after{clear:both}.cf{*zoom:1}*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;-webkit-tap-highlight-color:transparent}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
.cf:after, .clr {
    clear: both;
}

html, body {
	background: white;
	color: #949d99;
	font: normal 100%/1.5 'proxima-nova-regular', sans-serif;
	height: auto;
	min-height: 100%;
	width: 100%;
}
strong, h1, h2, h3 {
	font-family: 'proxima-nova-semi', sans-serif;
	font-weight: normal;
}
a {
	color: #ee7873;
}
.btn {
	background: none;
	border-radius: 4px;
	box-shadow: 0 0 0 1px rgba(0,0,0,0.15) inset;
	color: inherit;
	display: inline-block;
	font-size: 1.25em;
	line-height: 1;
	outline: none;
	padding: .75em;
	position: relative;
	text-decoration: none;
}
.btn:after {
	background: rgba(0,0,0,0.05);
	border-radius: 2px;
	content: "";
	display: block;
	height: 3px;
	position: absolute;
	left: 0;
	top: 100%;
	width: 94%;
	margin: 0 3%;
}
.btn:active:after {
	display: none;
}
.main {
	background: #ee7873;
	color: white;
}
.main:active {
	background: #D14D47;
	box-shadow: 0 0 2px rgba(0,0,0,0.15) inset;
	color: rgba(255,255,255,0.75);
}
.btn.none {
	margin-left: .5em;
}
.btn.none:after {
	display: none;
}
.btn.none:active {
	background: #efefef;
	box-shadow: 0 0 2px rgba(0,0,0,0.15) inset;
}
.grey {
	background: #efefef;
}
.grey:active {
	background: #ccc;
}

h1, h2, h3, p, .i-b {
	margin: 0 0 15px;
}
.product-details .i-b {
	margin-bottom: 5px;
}
h1, h2, h3 {
	color: #040407;
	font-weight: normal;
	line-height: 1;
}
.no-bot {
	margin-bottom: 0;
}
.mar-top {
	margin-top: 2em;
}
.hide {
	display: none !important;
}
.no-pad {
	padding: 0 !important;
}
h3 {
	margin-bottom: 5px;
}
p {
	font-size: .85em;
}
p strong {
	color: #040407;
}

/*.mar-top {
	margin-top: 1em;
}*/

small {
	display: block;
	font-size: .7em;
}

hr {
	background: #efefef;
	border: 0;
	height: 2px;
	margin: 30px 0;
}
.clr {
	clear: both;
}
.text-center {
	text-align: center;
}

header {
	background: #040407;
	/*border-bottom: 2px solid #efefef;*/
	padding: .5em;
	position: relative;
}
.logo {
	float: left;
	margin: 0 0 .475rem;
	padding: .55em 0 0 .5em;
}
.logo a {
	background: url(https://assets.tradesy.com/css/images/tradesy2xwhite.png) no-repeat;
	background-size: contain;
	display: inline-block;
	height: 20px;
	text-indent: -9999px;
	width: 150px;
}
.search fieldset {
	border: 0;
	max-width: 40em;
	margin-right: 3em;
	padding: .5em .5em .5em 2em;
	position: relative;
	top: 1px;
	z-index: 10;
	transition: margin .25s ease-in-out;
}
.search.two fieldset {
	margin-right: 5.75rem;
}
.search.three fieldset {
	margin-right: 8.5rem;
}
.search.focusd fieldset {
	margin-right: 0;
}
.search.no-r-m fieldset {
	margin-right: 0;
}
.ftr {
	margin-bottom: -.75rem;
	padding: 1rem .25rem 0;
}
.ftr h4 {
	color: #040407;
	font-weight: normal;
	line-height: 1.2;
	margin: 0;
	padding: 0 .75rem .25rem;
}
.ftr fieldset {
	margin-right: 0;
	padding-left: .5rem;
}
.search input[type=search] {
	background: white;
	border: 0;
	-webkit-appearance: none;
	-moz-border-radius: 2px;
	border-radius: 2px;
	box-shadow: 0 2px 0 #ddd inset;
	padding: .5em;
	width: 100%;
}
.ftr input[type=search] {
	box-shadow: 0 0 0 2px #ddd inset;
}
.search .btn {
	background: url(../images/search.png) no-repeat 0 0;
	background-size: 16px;
	border: 0;
	border-radius: 0;
	box-shadow: none;
	height: 16px;
	text-indent: -9999px;
	padding: 0;
	position: absolute;
	right: .85em;
	top: .825em;
	width: 16px;
}
.search .btn:active {
	opacity: .5;
	outline: 1px dotted #ee7873;
}

.user-ind {
	height: 2em;
	position: absolute;
	right: 1em;
	top: 1.2em;
	width: 2em;
}
/*.srch {
	display: block;
	float: left;
	height: 2em;
	position: relative;
	top: .65rem;
	left: .75rem;
	width: 2em;
}*/
.user-ind + .user-ind {
	right: 3.75em;
}
.user-ind + .user-ind + .user-ind {
	right: 6.5em;
}
.user-ind:active, .srch:active {
	opacity: .5;
}
.bag, .msg, .notes, .usr, .gear, .srch {
	background: url(../images/bag.png) no-repeat center center;
	background-size: 34px;
}
.msg {
	background-image: url(../images/msg.png);
}
.srch {
	background-image: url(../images/search-w.png);
}
.usr {
	background-image: url(../images/more.png);
}
.gear {
	background-image: url(../images/gear.png);
	position: relative;
	top: 10px;
}
.notes {
	background: url(../images/note.png) no-repeat center center;
	background-size: 34px;
}
.bag-items {
	background: #ee7873;
	border-radius: 100%;
	color: white;
	display: inline-block;
	font-size: 13px;
	height: 20px;
	right: -14px;
	line-height: 1;
	padding-top: 4px;
	position: relative;
	text-align: center;
	top: -8px;
	width: 20px;
}
.zero {
	background: #888;
}
.user-actions {
	background: #2a2a2a;
	display: none;
	text-align: center;
}
.user-actions.show {
	display: block;
}
.user-actions a {
	display: inline-block;
	/*float: left;*/
	padding: 1rem 1.5rem;
	position: relative;
	/*width: 50%;*/
	width: auto;
}
.user-actions a:active {
	opacity: .5;
}
.user-actions a + a {
	margin-left: 1rem;
}
/*.user-actions .bag-items {
	position: absolute;
	right: 20%;
	top: 14px;
}*/

.user {
	position: absolute;
	right: 0;
	top: 0;
}
.user > a {
	display: inline-block;
	padding: 1.15em;
	text-decoration: none;
}
.user img {
	border-radius: 100%;
	margin-right: .5em;
	vertical-align: middle;
	width: 30px;
}

nav {
	background: white;
	clear: both;
	margin: .5em -.5em -.5em;
	padding: .5em .5em .35em;
	position: relative;
}
nav a {
	display: inline-block;
	font-size: .8em;
	padding: 0 .25em;
	text-decoration: none;
	text-transform: none;
}
.links-wrap {
	margin: auto;
	max-width: 1000px;
}
.links-wrap a {
	padding: 0 .75em;
}
.fr {
	float: right;
}
/*.links {
	width: 1000px;
}*/
.scroll {
	background: white;
	border-left: 1px solid #ddd;
	box-shadow: -1px 0 0 rgba(0,0,0,0.1), -1px 0 2px rgba(0,0,0,0.05);
	color: #ee7873;
	display: inline-block;
	font-size: .8em;
	height: 100%;
	padding: .85em .5em;
	position: absolute;
	right: 0;
	top: 0;
	text-align: center;
	width: auto;
}
.tabs {
	padding: 0;
}
.tabs span {
	display: inline-block;
	float: left;
	width: 25%;
}
.tabs a {
	display: block;
	font-size: .75em;
	height: 100%;
	line-height: 1.2;
	min-height: 3em;
	padding: .75em .35em;
	text-align: center;
	width: 100%;
}
.tabs span + span a {
	box-shadow: -1px 0 0 #ddd;
}
.tabs a:active {
	background: #efefef;
}
.tabs a:active img {
	opacity: .5;
}
.tabs img {
	border-radius: 100%;
	display: block;
	margin: .15em auto;
	width: 30px;
}

nav.open {
	display: block;
}


.promo, .profile {
	background: #111;
	color: white;
	display: table;
	overflow: hidden;
	position: relative;
	height: 250px;
	width: 100%;
}
.promo > div, .profile > div {
	display: table-cell;
	height: 100%;
	line-height: 1;
	padding: 0 1em;
	position: relative;
	text-align: center;
	vertical-align: middle;
}
.promo h1, .profile h1 {
	/*font-family: 'calluna-regular', serif;*/
	/*letter-spacing: 2.5px;*/
	color: white;
	margin: 0 0 .5em;
	position: relative;
	/*text-transform: uppercase;*/
	z-index: 2;
}
.promo img, .profile .hero {
	left: 0;
	min-height: 250px;
	max-width: 100%;
	opacity: .5;
	position: absolute;
	top: 0;
	z-index: 1;
}
.promo .btn {
	position: relative;
	z-index: 2;
}
.template {
	padding: 2em 0;
}
.template h3 {
	text-align: center;
}
.i-tpt {
	display: inline-block;
	float: left;
	padding: 1em 1em 0;
	width: 50%;
}
.i-tpt:nth-child(2n+1) {
	padding-left: .5em;
}
.i-tpt:nth-child(2n+2) {
	padding-right: .5em;
}
.i-tpt + .i-tpt + .i-tpt {
	padding-top: 1.5em;
}
.i-tpt:last-child {
	float: none;
}
.i-tpt div {
	background: #efefef;
	/*background: white url(https://images.tradesy.com/images/home_placeholder_550x250.jpg) no-repeat center center;*/
	/*background-size: 200%;*/
	box-shadow: 0 0 0 1px #efefef;
	height: 8em;
	margin-bottom: .75em;
}
.i-tpt span {
	background: #999;
	display: block;
	height: 1em;
	margin-bottom: .5em;
}
.i-tpt span + span {
	height: .5em;
	margin: auto;
	width: 60%;
}


.i-b {
	display: inline-block;
	font-size: .75em;
}
.sm {
	font-size: 70%;
}
.product-price .i-b + .i-b {
	margin-left: .5em;
}

.width {
	max-width: 1000px;
	margin: auto;
	padding: 1em;
}

.del {
	color: #ccc;
	font-style: italic;
	position: relative;
}
.del:after {
	content: "";
	background: currentColor;
	display: block;
	height: 1px;
	position: absolute;
	left: 0;
	top: 38.5%;
	width: 102%;
}
.price:before {
	content: "$";
	display: inline-block;
	font-size: 50%;
	opacity: .5;
	padding-right: 2px;
	vertical-align: top;
}

.lbl {
	border-radius: 3px;
	line-height: 1;
	padding: 8px 8px 6px 0;
}
.circle {
	border: 1px solid #ccc;
	box-shadow: 0 0 0 1px #efefef;
	cursor: pointer;
	font-size: 24px;
	line-height: 1;
	padding-bottom: 0;
}
.circle:hover {
	border-color: #999;
}
.circle:active {
	background: #efefef;
	box-shadow: 0 0 2px rgba(0,0,0,0.125) inset;
}
.circle + .circle {
	margin-left: .25em;
}
.sale {
	/*background: #7dccad;*/
	color: #7dccad;
	display: inline-block;
	font-size: .8em;
	margin-top: 1em;
}
.none {
	background: white;
	color: #666;
}
h2 .i-b {
	font-size: 100%;
}
h2 .del {
	font-size: .75em;
}

.product-actions {
	margin-top: 0;
	margin-bottom: 1em;
}

.product-image > img {
	display: block;
	margin: auto auto 1em;
	max-width: 100%;
}
.product-image small {
	/*display: block;*/
	margin-bottom: 2em;
}
.product-thumbs img {
	max-width: 60px;
	padding: 0 .5em;
	cursor: pointer;
}
.product-thumbs img:hover {
	opacity: .65;
}
.product-thumbs img:active {
	opacity: .35;
}
.product-gallery {
	position: static;
	margin-bottom: 1em;
}
.thumbs-row {
	display: inline;
}
.dots span {
	background: #111;
	border-radius: 100%;
	display: inline-block;
	height: .75em;
	width: .75em;
}
.dots .active {
	opacity: .25;
}
.dots span + span {
	margin-left: .25em;
}
.fixed {
	position: fixed;
	top: 0;
	left: auto;
	right: auto;
}

.heart:after {
	content: "\2665";
}

.note {
	background: #fef8e7;
	font-size: .8em;
	padding: 1em;
}
.fixed {
	position: fixed;
	left: 0;
	width: 100%;
}
.bottom {
	bottom: 0;
}
.note strong {
	color: #ee7873;
}

.item {
	border-radius: 3px;
	display: inline-block;
	padding: 1em;
	position: relative;
	width: 200px;
}
.item:hover {
	box-shadow: 0 0 0 2px #efefef;
}
.item:active {
	top: 1px;
}
.item a {
	text-decoration: none;
}
.item img {
	display: block;
	margin: 0 auto 1em;
	max-width: 100px;
}
.item-name {
	line-height: 1.2;
	padding-bottom: .5em;
	text-decoration: underline;
}
.item .item-price {
	color: #949d99;
}
.item p, .item .i-b {
	margin: 0;
}

.product-sub-details {
	position: relative;
}
.product-sub-details h3:after {
	content: "\25BC";
	color: #949d99;
	font-size: 15px;
	font-style: normal;
	line-height: 1;
	padding: 0 .5rem;
	position: absolute;
	right: 0;
	top: .25rem;
}
.product-sub-details h3:active {
	opacity: .65;
}
.product-sub-details p {
	display: none;
}
.product-sub-details .open {
	display: block;
	padding-top: 1rem;
}
.product-sub-details .active:after {
	content: "\25B2";
}

.menu {
	padding: 0 0 2em;
}
.menu span {
	display: block;
	position: relative;
	overflow: hidden;
}
.menu a {
	display: block;
	padding: .5em 1em;
	position: relative;
	text-decoration: none;
	z-index: 1;
}
.r a {
	display: inline-block;
	float: right;
	/*margin-bottom: 1rem;*/
	text-align: right;
}
/*.r a:before {
	content: "\25B2";
	position: relative;
	left: -.25rem;
	top: 1px;
}*/
.menu a:active {
	background: #efefef;
	opacity: .75;
}
.menu span + span {
	box-shadow: 0 1px 0 rgba(0,0,0,0.125) inset;
}
.menu em {
	cursor: pointer;
	display: block;
	height: 3em;
	font-size: 15px;
	font-style: normal;
	overflow: hidden;
	padding-top: .8em;
	position: absolute;
	top: -1px;
	right: 0;
	text-align: center;
	width: 3em;
	z-index: 2;
}
.menu em:active {
	opacity: .65;
}
.menu em:after {
	content: "\25BC";
}
.sub-nav {
	display: none;
}
.sub-nav.open  {
	border-left: 8px solid #ddd;
	box-shadow: 0 1px 0 rgba(0,0,0,0.125) inset;
	display: block;
}
.sub-nav.open  span + span {
	box-shadow: 0 1px 0 rgba(0,0,0,0.125) inset;
}
.menu .active {
	top: -2px;
}
.menu .active:after {
	content: "\25B2";
}

.t, .d, .sm-m {
	display: none;
}

.profile {
	background: #4E0069;
}
/*.profile > div {
	padding-bottom: 1rem;
	vertical-align: bottom;
}*/
.profile div div {
	position: relative;
	z-index: 2;
}
.profile .hero {
	opacity: .25;
}
.profile span {
	background: #D596EB;
	border-radius: 4px;
	box-shadow: 0 0 0 1px rgba(0,0,0,0.1);
	display: block;
	margin: 0 auto 1rem;
	max-width: 70px;
	overflow: hidden;
	/*padding: 3px;*/
}
.profile span img {
	border-radius: 3px;
	display: block;
	margin: 0;
	max-width: 100%;
}
.profile small {
	/*color: #D596EB;*/
	display: block;
	font-size: 15px;
	/*opacity: .75;*/
}
.profile small + small {
	font-size: 13px;
	line-height: 1.3;
	margin-top: .75rem;
}
.profile small a {
	display: inline-block;
	margin: 0 .15rem;
}
.profile-links {
	background: #111;
	font-size: .75rem;
	padding: 0 1rem;
	text-align: center;
}
.profile-links a {
	display: inline-block;
	padding: 1rem;
}

@media screen and (min-width: 50em){

.m {
	display: none;
}
.t {
	display: block;
}
.width {
	padding-bottom: 0;
}
.search fieldset {
	margin-right: 4em;
}
.ftr fieldset {
	margin-right: 0;
}
.left {
	float: left;
	width: 40%;
}
.right {
	float: right;
	width: 55%;
}
.product-actions {
	margin-top: 1em;
	margin-bottom: 2em;
}
.product-image > img {
	margin: 2em auto .5em;
}
.thumbs-row {
	display: block;
}

}

@media screen and (min-width: 67em){

.width {
	max-width: 1100px;
}
.links-wrap {
	max-width: 1080px;
}
.right {
	width: 57%;
}
.product-gallery {
	padding-top: 2em;
}
.product-image {
	float: left;
}
.product-image > img {
	margin-top: 0;
}
.product-thumbs {
	float: left;
	padding-left: 2em;
}
.product-thumbs img {
	padding: 0 .25em;
}
.thumbs-row {
	float: left;
	width: 60px;
}
.product-thumbs-table, .product-thumbs-table-cell {
	display: table;
	height: 338px;
	width: 100%;
}
.product-thumbs-table-cell {
	display: table-cell;
	vertical-align: middle;
}

}

@media screen and (min-width: 70em){

.product-thumbs {
	padding-left: 3em;
}

}

@media screen and (max-width: 50em){

.logo {
	padding: .15em 0 0 .15em;
}
.logo a {
	background-image: url(../images/gem-white.png);
	height: 40px;
	width: 40px;
}
.search fieldset {
	padding-left: 1em;
}
.ftr fieldset {
	padding-left: .5rem;
}

.sm-m {
	display: inline-block;
}
.width {
	padding: 1em;
}
/*.product-actions {
	background: white;
	border-top: 2px solid rgba(0,0,0,0.1);
	position: fixed;
	left: 0;
	bottom: 0;
	margin-bottom: 0;
	padding: 1em;
	width: 100%;
	z-index: 10;
}*/
.tabs {
	border-top: 1px solid rgba(0,0,0,0.1);
	box-shadow: 0 -1px 0 rgba(0,0,0,0.05), 0 -1px 2px rgba(0,0,0,0.025);
	position: fixed;
	left: 0;
	bottom: 0;
	margin: 0;
	width: 100%;
	z-index: 10;
}
.circle {
	float: right;
	position: relative;
	top: .325em;
}
.product-thumbs img {
	max-width: 40px;
}
h1 {
	font-size: 1.5em;
	margin-bottom: 0;
}

}

@media screen and (min-width: 40em){

/*body {
	padding: 2em;
}*/
.promo {
	height: 300px;
}
.promo h1, .items h2, .profile h1 {
	letter-spacing: 2.5px;
	text-transform: uppercase;
}
.item + .item {
	margin-left: 1em;
}
/*.item {
	width: 33%;
}*/

}
@media screen and (min-width: 50em){

.promo {
	height: 400px;
}

}
@media screen and (min-width: 55em){

/*.item {
	width: 25%;
}*/

}
@media screen and (max-width: 20em){

.promo h1 {
	font-size: 1.5em;
}
.item {
	width: 100%;
}

}